/* ---------------------------------------------------------------- FONTS ------------------------------------------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* ----------------------------------------------------------------- GENERAL -------------------------------------------------------------- */
html { overflow: hidden; } /* Oculta la ScrollBar mientras se carga la página */
html, body { scroll-behavior: smooth;  background-color: #F4F6F7; } /* Para darle efecto al Scroll vertical */ 
body { position: static !important; top: 0px !important; padding-right: 0 !important; }
* { 
    box-sizing: border-box; max-width: 100%; max-width: 100vw; margin: 0; padding: 0;     
    font-family: 'Press Start 2P', cursive, Arial, Helvetica;    
}

/* --------------------------------------------------------------- GENERAL STYLES -------------------------------------------------------- */
.radius-padding, .contentBx, .p-tec-tooltip .tooltip-inner, .p-icons-a .tooltip-inner, .icons>h4 { border-radius: 5px; padding: 0.5rem; }
.b-color-4B7, .sectionTitles, .contentBx, .p-icons, .icons>h4 { background-color: #4B7F83; color: white; }
.b-color-6CC, .t-icons { background-color: #6CC6C9; color: white; }
.h-title>h1, .h-subtitle>h5, #h5-final, .main-introduction.content>span, #nb-brand-span, .abtm-text>h1, .abtm-text>h5, .abtm-text>pre, 
    .abtm-footer, .contentBx, .icons>p { cursor: default; } 
.radius10-padding1, .p-card, .card-skills { border-radius: 10px; padding: 1em; }
.p-card, .card-skills { background-color: #F4F6F7; }
.abtm-footer>i:hover, .p-card, .t-icons, .t-icons>span, .p-tecnologies>li, .p-icons, .p-icons>li, .card-skills, .info-skills { transition: 0.4s; }
.transition03 { transition: 0.3s; }
.p-cards-container, .cards-container { flex-wrap: wrap;  padding: 0.5rem; border-radius: 0 0 5px 5px; }
.sectionTitles { /* Sections Titles */
    width: 100%; position: relative; 
    border-radius: 5px 5px 0 0; padding: 0.5rem; margin-bottom: 0; text-align: center; font-size: 20px;        
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);    
}

/* ------------------------------------------------------------ GENERAL DISPLAY ------------------------------------------------------------------ */
.loading-page-gif, header, .scroll-down-l, .scroll-down-r, .btn-h-contact, .aboutme, .abtm-text>h1, .btnCV, .p-card, .p-cards-container, 
.p-tecnologies, #show-more-btn[data-title]:hover::after, #google_translate_element, .cards-container, .contactme, #btnSendEmail, 
.footer-content, .menu { display: flex; justify-content: center; align-items: center; align-content: center; }
.content {
    width: 100%; margin: 0 auto;
    display: flex; flex-wrap: wrap; align-items: center; justify-content: space-around;    
}
header, .aboutme, .portafolio, .cards-container, .contactme { min-height: 100vh;  padding: 1em; }

/* ----------------------------------------------------------- Scroll To Top Button -------------------------------------------------------*/
.ScrollToTop {
    position: fixed; z-index: 9997;  width: 60px; height: 60px;
    border-radius: 50%; padding: 0.5rem; bottom: 12px; right: 12px;  
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5); border: none; opacity: 0.8;  
}
.ScrollToTop:hover {
    background-color: #4B7F83; color: white; font-size: 20px;    
    animation: shake 0.35s step-end normal; border: none;  opacity: 1;     
}
.modalSpinner .fa-spin, .modalSpinner #spinnerSpan { /* Modal Spinner */
    color: white; font-size: 32px; text-align: center;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 5px #000;
}

.loading-page-gif { /* Modal Spinner-Loader */
    position: fixed; top: 0; left: 0;       
    width: 100%; height: 100%;    
    background-color: #F4F6F7; z-index: 9998;   
}  
.loading-page-gif>img { width: 200px; height: 200px; z-index: 9999; }

.main { /* Main Div */
    position: relative; z-index: 1; box-shadow: #000 0 5px 20px 5px; /* 0 7px 35px 0*/
    background-image: url(../img/main.jpg); background-size: 50%; background-position: center;
}

/* ------------------------------------------------------------ HEADER ---------------------------------------------------------------- */
header {
    background-image: url(../svg/wave-down.svg), url(../svg/wave-up.svg); 
    background-position: center top, center bottom; background-repeat: repeat-x; background-size: 40%;
}
.scroll-down-l, .scroll-down-r { position: absolute; flex-direction: column; font-size: 13px; color: #4B7F83; } /* Span Page-Sides Bounce-Animation */
.scroll-down-l { left: 1%; }
.scroll-down-r { right: 1%; }
.scroll-down-l>.sd-span, .scroll-down-r>.sd-span { 
    writing-mode: vertical-rl; text-orientation: mixed; cursor: default; 
    animation-duration: 2s; animation-iteration-count: infinite;    
}
.scroll-down-l>.sd-span::after, .scroll-down-r>.sd-span::after { content: "\f103"; font-family: FontAwesome; }
.scroll-down-l>.bounce, .scroll-down-r>.bounce { animation-name: bounce; animation-timing-function: ease; }
@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-25px); }
    100% { transform: translateY(0); }
}
.main-introduction { /* Introduction Section */
    max-width: 100%; max-height: 100vh;
    display: table; text-align: center; position: relative;   
}
.main-introduction .h-title h1 { /* Intr-Title with effect */
    text-align: center; font-size: 28px;        
    margin: 5px auto; display: block; width: 17ch; white-space: nowrap; overflow: hidden; 
    border-right: 4px solid black; /* Cursor blink effect */       
    animation: typing 3s 1 steps(17), blink .5s infinite step-end alternate;     
}
@keyframes typing { from { width: 0; } } /* Animación escritura*/
@keyframes blink { 50% { border-color: transparent; } } /* Animación cursór */

.main-introduction .h-subtitle h5, #h5-final { margin: 10px 0 10px 0; text-align: left; font-size: 22px; } /* Intr-Subtitle and Footer */ 
.main-introduction .content .h-back, .h-front { /* Intr-Divs (back-front) */
    width: 350px; height: 150px; margin: 5px; z-index: 1; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.main-introduction .content .back::before { content: "{ "; } .main-introduction .content .back::after { content: " }"; }
.main-introduction .content .front::before { content: "< "; } .main-introduction .content .front::after { content: " />"; }
.main-introduction .content .h-back:hover, .h-front:hover { transform: translateY(-3px); cursor: pointer; background-color: #F4F6F7; } 
.main-introduction .content .h-back:hover::after, .h-front:hover::after { opacity: 0; }
.main-introduction .content span { /* Intr-Divs Title */      
    font-size: 20px; display: table; margin: 0 auto; position: relative; 
    transform: translateY(50px); opacity: 1;
}
.main-introduction .content .h-back:hover span, .h-front:hover span { transform: translateY(0px);  opacity: 0; }
.main-introduction .content p { /* Intr-Divs text */
    text-align: center; font-size: 9.5px; margin-bottom: 30px; margin-top: -20px;
    color: #4B7F83; height: fit-content;      
	transform: translateY(50px); opacity: 0; visibility: hidden; cursor: pointer;    
}
.main-introduction .content .h-front>p { margin-top: -25px; }
.main-introduction .content .h-back:hover p, .main-introduction .content .h-front:hover p {
    transform: translateY(0px); opacity: 1; visibility: visible; margin-top: 0px;
}
.main-introduction .content .h-back i, .main-introduction .content .h-front i { padding-top: 1em; margin-top: -10px; }
.main-introduction .content .h-back:hover i, .main-introduction .content .h-front:hover i { visibility: hidden; }
.main-introduction .content .h-image img { /* Intr-Img */
    height: auto; max-width: 350px; 
    border-radius: 5px; cursor: pointer; transition: 0.3s;  
} 
img.h-image-img:hover { filter: blur(0); content: url(../img/gif.gif);  transition: 0.3s; }
img.h-image-img:not(:hover) { content: url(../img/static.png); filter: blur(3px); }
.main-introduction .btn-h-contact { /* Intr-Contact Me Button with effect */     
    border: 1px solid white; background-color: #4B7F83; color: white;
    margin: 0 auto; width: fit-content;   
}
.main-introduction .btn-h-contact:after {
    content: "\f086"; font-family: FontAwesome;
    display: block; width: 0px; height: 24px; overflow: hidden;
    transition: width 200ms, margin-left 200ms;
}
.main-introduction .btn-h-contact:is(:hover, :focus)::after { width: 24px; margin-left: 8px; }

/* -------------------------------------------------------------------- NAVBAR ---------------------------------------------------------- */
.sticky-top { transition: all 0.2s ease-in-out; }
.navbar { background-color: #6CC6C9; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Navbar-Default Styles */     
}
.navbar-brand, .stuck .navbar.sticky-top .navbar-brand { position: absolute; padding: 0; font-size: 12px; text-decoration: none !important; color: #4B7F83; } /* Navbar-Brand */ 
.navbar-brand .switchlang { border: 0; background-color: transparent; text-decoration: none; }  /* Navbar-Brand img class */  
.navbar-brand .switchlang img {
    width: 30px; height: 20px; object-fit: cover;
    transition: 0.3s; opacity: 0.75; text-decoration: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.navbar-brand .switchlang img:hover { transform: translateY(-2px); opacity: 1; }
.navbar .navbar-collapse a { margin-left: 25px; } /* Navbar a space-between */
.navbar .navbar-collapse i { position: absolute; margin: 2px -25px; }
.navbar .navbar-collapse a:hover {
    border-radius: 10px; text-decoration: underline;
    transition: 0.3s; transform: translateY(3px);
}
.stuck .navbar.sticky-top { background-color: #4B7F83; box-shadow: 0 2px 10px rgba(0, 0, 0, 1); } /* Navbar-Sticky Styles */
.navbar-nav { margin-left: 50px; }
.navbar-nav a.nav-link, a.nav-link.active, .stuck .navbar.sticky-top .navbar-nav a.nav-link.active, a.nav-link {
    text-shadow: 2px 2px 4px #324B4D; transition: 0.5s; margin-right: 5px;
}
.stuck .navbar.sticky-top .navbar-collapse a:hover { border-radius: 10px; transition: 0.3s; transform: translateY(3px); }
.active { text-decoration: underline; transition: 0.2s; transform: translateY(1.5px); }

/* -------------------------------------------------------------- SOBRE MI --------------------------------------------------------------- */
.aboutme .content .abtme-img-container { box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); background-color: #F4F6F7;}
.aboutme .content img { /* Abtme-Img */
    position: relative; height: auto; max-height: 450px; max-width: 425px;
    border-radius: 10px; transition: 0.35s; filter: blur(3px); cursor: pointer;    
}
.aboutme .content img:hover { filter: blur(0); animation: shake 0.35s step-end normal; }
@keyframes shake { /* Shake-Animation */
    0% { transform: translate(1px, 1px) rotate(0deg); } 10% { transform: translate(-1px, -2px) rotate(-1deg); } 20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); } 40% { transform: translate(1px, -1px) rotate(1deg); } 50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); } 70% { transform: translate(3px, 1px) rotate(-1deg); } 80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); } 100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.abtm-text { /* Abtme-Content Div */
    width: 700px; text-align: center;   
    background-color: #F4F6F7; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  
}
.abtm-text h1 { font-size: 20px; text-align: center; width: 100%;} /* Abtme-Content Title */
.abtm-text h5 { font-size: 15.5px; text-align: center; } /* Abtme-Content Subtitle */
.abtm-text pre { /* Abtme-Content p */
    font-size: 12px; font-family: 'Press Start 2P', cursive;
    white-space: pre-line; line-height: 170%; margin: 10px 0 8px 0; text-align: justify; color: #4B7F83;    
}
.aboutme .content .abtm-text .abtm-footer { width: 100%; text-align: center; margin-bottom: 10px; } /* Abtme-Content Hobbies Div */ 
.aboutme .content .abtm-text .abtm-footer h6 { font-size: 15px; text-align: center; border-bottom: 1px solid white; }  /* Abtme-Content Hobbies Title */
.aboutme .content .abtm-text .abtm-footer>i:hover {
    transform: translateY(-2.5px); cursor: pointer; 
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 5px #000;
}
.aboutme .content .abtm-text .btnCV { /* Abtme-Content CV Button with effect */
    width: 100%; background-color: #4B7F83; color: white;   
}
.aboutme .content .abtm-text .btnCV:after {
    content: "\f56d"; font-family: FontAwesome;
    display: block; width: 0px; height: 24px;
    overflow: hidden; transition: width 200ms, margin-left 200ms;
 }
 .aboutme .content .abtm-text .btnCV:is(:hover, :focus)::after { width: 24px; margin-left: 8px; }

/* ------------------------------------------------------------------ PORTAFOLIO ---------------------------------------------------------- */
.portafolio .p-cards-container {
    justify-content: space-around;     	    
    z-index: 1; padding-top: 1em; gap: 15px;
}
.portafolio .p-cards-container #show-more-btn { /* Portafolio Show-More btn */
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid white; animation: blink 1s infinite step-end reverse;
    width: 50%; height: 40px;
    transition: 0.3s; margin: 30px 0 10px 0;
    white-space: nowrap; text-overflow: ellipsis; text-align: center;
}
.portafolio .p-cards-container #show-more-btn[data-title]:hover::after { /* Portafolio Show-More btn-Title */
    content: attr(data-title);     
    position: absolute; width: 100%; transition: 0.3s;  
    color: #4B7F83; text-align: center; font-size: 12px; text-decoration: underline 2px solid;
    top: -65%; left: 0;
}
.portafolio .p-cards-container #show-more-btn:hover { transform: translateY(5px); }
.portafolio .p-cards-container #cardsLimit { position: absolute; }
.portafolio .p-card { /* Portafolio-Card Divs */		
    min-width: 375px; height: 400px; max-width: 375px; max-height: 400px;
    position: relative; justify-content: space-between; flex-direction: column;
    width: calc(100% * (1/3) - 50px - 1px);	   	
    border: 2px solid #4B7F83;	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.portafolio .p-card:hover  { transform: translateY(5px); border: 2px solid #6CC6C9; }
.portafolio .p-card .content .contentBx { display: table; text-align: center; width: 100%; } /* Portafolio-Cards Title */ 
.portafolio .p-card .content .contentBx h3 { 	
    display: table-cell;    
    text-transform: uppercase; line-height: 16px; letter-spacing: 0.3px; font-weight: 500; font-size: 11px;
}
#p-img .img-item { /* Portafolio-Cards Img */ 
    position: relative; cursor: zoom-in; overflow: hidden; margin: 5px 0 5px 0;
	width: 300px; height: 200px;	
}
#p-img img {
    position: absolute;	width: 100%; height: 100%;
    border-radius: 5px; cursor: pointer; object-fit: cover;
    background-color: white; border: 2px solid #4B7F83;
}
.portafolio .p-card .content .t-icons { /* Portafolio-Cards Tech-Icons Div */    
    width: 100%; cursor: pointer;
    border-radius: 5px; margin: 6px 0 0 0; z-index: 1;  
}
.portafolio .p-card .content .t-icons:hover { background-color: #F4F6F7; box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3); }
.portafolio .p-card .content .t-icons span { /* Portafolio-Cards Tech-Icons Title*/
    font-size: 15px; display: table; margin: 0 auto; position: relative;
    transform: translateY(-20px); opacity: 1;
}
.portafolio .p-card .content .t-icons:hover span { transform: translateY(0px); opacity: 0; }
.portafolio .p-card .content .t-icons .p-tecnologies { /* Portafolio-Cards Tech-Icons icons */     
    padding: 0.2rem; margin: 0; opacity: 0; 
}
.portafolio .p-card .content .t-icons:hover .p-tecnologies { opacity: 1; transform: translateY(10px); }
.portafolio .p-card .content .t-icons .p-tecnologies li {   
	list-style: none; margin: 0 3px; cursor: pointer; 	
    transform: translateX(30px); opacity: 0;               
}
.portafolio .p-card .content .t-icons:hover .p-tecnologies li {	transform: translateX(0px); opacity: 1; }
.portafolio .p-card .content .t-icons .p-tecnologies li .p-tec-svg-icons { 
    width: 30px; height: 30px;
    padding: 0; border: 0; margin: 0;
}
.p-tec-tooltip .tooltip-inner, .p-icons-a .tooltip-inner { /* Portafolio-Cards Tech-Icons icons Tooltip */  
    font-size: 12px; text-align: center;
    background-color: #324B4D; color: white; 
    border: 1px solid white; box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}
.portafolio .p-card .p-icons { /* Portafolio-Cards Content Links-Icons */
    width: 91.5%; position: absolute;   
	display: table; text-align: center;
    border-radius: 5px; padding: 0.2rem; 
    margin: 0 0 1rem 0; bottom: 0;         
}
.portafolio .p-card .p-icons li {
    display: table-cell; list-style: none;
	margin: 0 50px;
	transform: translateY(20px); opacity: 0;    
}
.portafolio .p-card:hover .p-icons li {	transform: translateY(0px); opacity: 1; }
.portafolio .p-card .p-icons a { color: white; }
/* --------------------------------------------------------------- Modal ---------------------------------------------------------------- */
.modal-content { background-color: #F4F6F7; border: 1px solid white; box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);  }
.modal .modal-dialog { min-width: 90%; border-radius: 5px; overflow-y: initial !important }
#imgPopUpModal { padding-right: 0 !important; }
#imgPopUpModal .modal-header, .modal-footer {    
    display: table; text-align: center; position: relative; 
    border-radius: 5px; margin: 0;
}
#imgPopUpModal .modal-header h6, .modal-footer>p { /* Modal Title */
    display: table-cell; width: 100%; 
    font-size: 10px; line-height: 15px;
}
.modal-header .btn-close { /* Modal Close Button */
    margin: 2.5px; top: 0; right: 0; position: absolute;
    background-color: white; border: 1px solid black;
    transition: 0.2s; opacity: 0.2; font-weight: bold;    
}
.modal-header .btn-close:hover { 
    transform: translateY(2px); opacity: 1; 
    background-color: #B2071D; border: 1px solid white;
}
#imgPopUpModal .modal-body { margin: 0; cursor: zoom-in; margin-top: -15px; } /* Modal Body */ 
.modal-content .span-info { /* Modal Magnifying Glass Instructions */
    padding: 0.2rem; margin-top: 5px; border: 0; z-index: 1;
    font-size: 11px; color: white; background-color: #4B7F83; box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    text-align: center; animation: blink 1s infinite step-end normal;  
    border-bottom: 2px dotted white; border-top: 2px dotted white;
}
.modal-content .zoomout { /* Modal Close Magnifying Glass */
    cursor: zoom-out; font-size: 15px;
    border: 0; padding: 0 0.2rem 0 0.2rem; 
    background-color: transparent; color: white; 
    font-size: 14px; transition: 0.3s;        
}
.modal-content .zoomout:hover {
    border-radius: 5px;
    background-color: black; color: white; opacity: .75;  
}
.img-magnifier-container { position: relative; } /* Modal Magnifying Glass */ 
.img-magnifier-glass {
    width: 215px; height: 215px; position: absolute;
    border: 8px double #6CC6C9; border-radius: 50%; cursor: move;   
    background-color: #F4F6F7; box-shadow: 0px 0px 25px rgba(0, 0, 0, 1);
}
#imgPopUpModal .modal-footer { margin-top: 5px; } 

/* ----------------------------------------------- GOOGLE TRANSLATE ELEMENT ------------------------------------------------- */
#google_translate_element { /* GooTr- Div*/
    width: 100%; font-size: 11px; border-radius: 5px; margin-top: 5px; z-index: 1;
    color: #4B7F83; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}
#google_translate_element>span { margin-right: 10px; }
.m-gt-tooltip .tooltip-inner { /* Modal Translate text-Icon Tooltip */  
    font-size: 8px !important; text-align: center;  
    background-color: #4B7F83; color: white;   
    border: 1px solid white; box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}
#google_translate_element>span>i { font-size: 35px; cursor: help; }
.goog-te-gadget { font-family: "Press Start 2P", Arial, Helvetica, sans-serif !important; border-radius: 5px; } 
.goog-te-gadget:hover { border: 2px dotted #4B7F83; transition: 0.05s; } 

.goog-te-gadget-simple { /* GooTr-Box*/
    background-color:#F4F6F7 !important;
    padding: 0.2rem; border-radius: 5px; transition: 0.3s; border: none !important;
}
.goog-te-gadget-simple:hover{border: 2px solid #6CC6C9;}
.goog-te-gadget-simple a.goog-te-menu-value span{color:#4B7F83; font-size: 11px;} /* GooTr-Box text*/
.goog-logo-link { display:none !important; } 
.goog-te-banner-frame.skiptranslate { display: none !important; visibility: hidden; margin: 0; padding: 0; z-index: -99;} 
iframe.goog-te-banner-frame{ display: none !important;}

/* ------------------------------------------------------------- SKILLS --------------------------------------------------------------- */
.skills-cards { padding: 1em; box-shadow: 0 10px 5px rgba(0, 0, 0, 0.35); } /*box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);*/
.skills-cards .cards-container { align-content: space-around; gap: 10px; }
.card-skills { /* Skills Cards */
    width: 90px; height: 90px; max-width: 100px; max-height: 90px;
    padding: 0.5rem; position: relative; display: grid; align-items: center; cursor: pointer;  
    background-color: #F4F6F7; border: 2px solid #4B7F83; box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);    
    width: calc(100% * (1/8) - 50px - 5px);   
}
.wng { border: 2px solid #DC3545; } /* Skills marcadas como pendientes */

.card-skills:hover { transform: translateY(5px); border: 0; }
.card-skills:hover:before { opacity: 1; }
.card-skills:hover .info-skills { opacity: 1; transform: translateY(0px); }
.card-skills:before { 
    content: ""; z-index: 2;
    position: absolute; display: block; width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.6); border: 2px solid #6CC6C9;     
    transition: 0.4s; opacity: 0; border-radius: 10px;     
}
.card-skills img { /* Skills-Cards Image */
    width: 80px; height: 80px; border-radius: 10px;
    position: absolute; top: 0; left: 0;       
}
.card-skills .info-skills { /* Skills-Cards Image-Progress Bar */
    position: relative; z-index: 3;
    color: white; transform: translateY(20px); opacity: 0;
}
.pb-small-txt { 
    font-size: 6px; height: 100%; align-items: center;
    color: #4B7F83; background-color: white;
}
  /* Custom ToolTips */
.tooltip-success { --bs-tooltip-bg: var(--bs-success); } 
.tooltip-warning { --bs-tooltip-bg: var(--bs-warning); }
.tooltip-warning .tooltip-inner, .bg-warning { color: black; }
.tooltip-danger {  --bs-tooltip-bg: var(--bs-danger); } 
.tooltip-success>.tooltip-inner, .tooltip-warning>.tooltip-inner, .tooltip-danger>.tooltip-inner { font-size: 12px; }
 
/* ----------------------------------------------------------- CONTÁCTAME --------------------------------------------------------------- */  
.contactme {    
    z-index: -1; position: relative;
    background-image: url(../img/contact-footer.jpg); background-size: cover; background-position: center;    
}
.contact-form { /* Contact-Form Div*/  
    width: 625px;
    background-color: #F4F6F7; color: #4B7F83; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.contact-form h1 { text-align: center; font-size: 20px; margin-bottom: 10px; } /* Contact-Form Div Title */  
#c-form > span { font-size: 11px; color: red; }
.contact-form #message { height: 150px; margin-top: 5px; color: #4B7F83; }
.contact-form #emailHelp { font-size: 11px; padding-bottom: 1em; }
.input-group>input { color: #4B7F83 !important; } /* Contact-Form Input/TextArea text color */
.form-control, .form-control::placeholder { /* Contact-Form Input/placeholder color */
    color: #4B7F83; opacity: 0.88;
    letter-spacing: -1.5px; 
} 
.form-control::placeholder { opacity: .7; }
.form-control:focus { border-color: #6CC6C9; box-shadow: 0 0 0 0.2rem rgba(108, 198, 201, 0.5); } /* Contact-Form Input Focus Border-Color */
.form-control:focus:required:invalid {border-color: #B2071D; box-shadow: 0 0 0 0.2rem rgba(178, 7, 29, 0.5);} /* Contact-Form Input Focus Invalid-Border-Color */
/* Contact-Form Div Button with effect */
.contact-form #btnSendEmail {        
    background-color: #4B7F83; color: white; 
    margin-top: 10px; width: 100%;
}
.contact-form #btnSendEmail:after {
    content: "\f3e5"; font-family: FontAwesome;
    transform: rotate(180deg); transition: width 200ms, margin-left 200ms;
    display: block; width: 0px; height: 24px; overflow: hidden;    
}
.contact-form #btnSendEmail:is(:hover, :focus)::after { width: 24px; margin-left: 8px; }
.contactme .content .icons {  /* Contact-Icons Div */    
    background-color: #F4F6F7; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    width: 40%;  
} 
.contactme .content .icons p { padding-right: 1rem; margin: 0; text-align: center; } /* Contact-Icons Div email */  
.contactme .content .icons p>input, .icons p>#copy-btn { /* Contact-Icons Div copy-email */
    text-align: center; padding: 0.2rem; border: 0; margin-bottom: 5px;
    background-color: #F4F6F7; color: #4B7F83; transition: 0.3s;
}
.contactme .content .icons p>input:focus { outline: none; }
.contactme .content .icons #copy-btn:hover { scale: 1.1; }
.contactme .content .icons h4 { font-size: 13px; margin-top: 5px; text-align: center; }
/* --------------------------------------------------- Social Media Icons ----------------------------------------------------------------*/
.i-socialMedia { /* Contact-Social Media Div */  
    height: 100%; width: 100%;
    display: flex; justify-content: center; 
}
.i-socialMedia .button { /* Contact-Social Media Div Buttons */
    display: inline-block;
    height: 50px; width: 50px; margin: 0 5px 0; border-radius: 50px;
    background-color: white; color: #4B7F83; text-decoration: none;    
    cursor: pointer; overflow: hidden;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-out;   
}
.i-socialMedia .button:hover { width: 180px; }
.i-socialMedia .button .icon { /* Contact-Social Media Div Buttons Icons */
    display: inline-block; box-sizing: border-box; 
    height: 50px; width: 50px;
    text-align: center; line-height: 50px; border-radius: 50px;   
    transition: all 0.3s ease-out;
}
.i-socialMedia .button .icon i { /* Contact-Social Media Div Icons */
    font-size: 25px; line-height: 50px;
    transition: all 0.3s ease-out;
}
.i-socialMedia .button:hover .icon i { color: white; }
.i-socialMedia .button span { /* Contact-Social Media Div Icons-Text */
    font-size: 12px; font-weight: 500; line-height: 50px;  
    transition: all 0.3s ease-out;
}
  /* Social Media-Icons & Text Colors*/
.i-socialMedia .button:nth-child(1):hover .icon { background: #4267B2; } .button:nth-child(1) span { color: #4267B2; }
.i-socialMedia .button:nth-child(2):hover .icon { background: #0e76a8; } .button:nth-child(2) span { color: #0e76a8; }
.i-socialMedia .button:nth-child(3):hover .icon { background: #171515; } .button:nth-child(3) span { color: #171515; }
.i-socialMedia .button:nth-child(4):hover .icon { background: #0088CC; } .button:nth-child(4) span { color: #0088CC; }
.i-socialMedia .button:nth-child(5):hover .icon { background: #25D366; } .button:nth-child(5) span { color: #25D366; }

/* ---------------------------------------------------------------- FOOTER ----------------------------------------------------------------- */
footer { /* Footer content */
    padding: 25px 0; background-color: #F4F6F7; z-index: -1; opacity: 0.8;
    background-image: url(../img/contact-footer.jpg); background-size: cover; background-position: center;
}
.footer-content { flex-direction: column; text-align: center; } /* Footer-Content div*/
.footer-content h3 { /* Footer-content Title*/
     font-size: 13px; font-weight: 400;
     margin: 0 0 5px 0; color: white;
     text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 5px #000;
}
.footer-content .social { width: 100%; text-align: center; background-color: #6CC6C9; } /* Footer-Content div Title */ 
.footer-content .social > a {  
    font-size: 25px; line-height: 35px; text-align: center;
    margin: 0 8px; height: 40px; width: 40px; display: inline-block;      
    border-radius: 40px; box-sizing: border-box; transition: 0.3s;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3); background-color: white; color: black;
}
.footer-content .social a:hover { color: white; }
.footer-content .social>a:nth-child(1):hover { background-color: #81b71a; scale: 1.1; }
.footer-content .social>a:nth-child(2):hover { background-color: #b2071d; scale: 1.1; }
.footer-content .social>a:nth-child(3):hover { background-color: #FF4500; scale: 1.1; } 
.footer-content .social>a:nth-child(4):hover { background-color: #F47F24; scale: 1.1; }

.footer-content .menu { list-style: none; width: 100%; margin: 5px auto; } /* Footer-Content div Menu */
.footer-content .menu li { margin: 0 20px; }
.footer-content .menu a { font-size: 13px; color: white; text-decoration: none; transition: 0.3s; }
.footer-content .menu a:hover {
    font-size: 14px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 5px #000;
}
.footer-content p { /* Footer-Content div Subtitle */
    max-width: 500px; margin: 0;
    line-height: 28px; font-size: 12px; color: white;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 5px #000;
}
.footer-bottom { /* Footer-Bottom div */  
    background-color: black; color: white;
    width: 100%; padding: 0.5rem; 
    text-align: center; position: absolute;
}
.footer-bottom p { font-size: 12px; word-spacing: 2px;  text-transform: capitalize;  margin: 0; }  /* Footer-Bottom div text */
.footer-bottom span { text-transform: uppercase; opacity: .5; font-weight: 200; }

/* --------------------------------------------------------- MEDIA SCREEN RESPONSIVE -------------------------------------------------------- */
@media screen and (max-width: 1275px) {    
    .main { background-size: 100%; } /* Body Background */    
    header { background-size: 35% } /* Header */
    .main-introduction .content { flex-flow: column; }
    .main-introduction .content .h-image { flex-grow: 0; flex-basis: 50%; }
    .main-introduction, .aboutme { width: 100%; }    
    .main-introduction .h-title h1 { font-size: 20px; margin-bottom: 5px; }    
    .main-introduction #h5-final, .main-introduction .h-subtitle h5 { font-size: 11px; } 
    .main-introduction .content .h-back:hover, .h-front:hover { transform: translateY(0px); }
    .main-introduction .content span { font-size: 18px; transform: translateY(50px); }
    .main-introduction .content .h-image img { margin: 3px; }     
    .aboutme .content .abtme-img-container { margin-bottom: 10px; } /* About me*/
    .aboutme .content img { max-width: 385px; max-height: 400px; }    
    .skills-cards .card-skills { width: calc(100% * (1/8) - 30px - 5px); } /* Skills */     
    .contact-form { width: 80%; } /* Contact */         
    .contact-form h1 { font-size: 15px; margin-bottom: 5px; }
    #c-form label, #c-form input, #c-form textarea { font-size: 11px; } 
    .contact-form #emailHelp { font-size: 8px; padding-bottom: 1.2rem; }
    .contactme .content .icons { margin-top: 15px; min-width: 400px; max-width: 450px; }
    .contactme .content .icons h4 { font-size: 12px; }
    .contactme .icons p { font-size: 11px; }
    .contactme { background-size: 220%;}
    footer { background-size: 220% } /* Footer */
    .footer-content .menu li { margin: 0 7px; }
    .footer-content .menu a { font-size: 9px; }
    .footer-content .menu a:hover { font-size: 9.2px; }
    .i-socialMedia .button span { font-size: 10px; }
}
@media screen and (max-width: 1050px) {    
    .portafolio .p-card .content .contentBx h3 { font-size: 9.5px; } /* Portfolio */    
    .skills-cards .card-skills { width: calc(100% * (1/6) - 25px - 5px); } /* Skills */
    .card-skills { width: 90px; height: 90px; }    
    .card-skills img { width: 85px; height: 85px; }    
    .i-socialMedia .button span { font-size: 9px !important; } /* Footer */
}
@media screen and (max-width: 980px) {    
    .navbar-brand, .stuck .navbar.sticky-top .navbar-brand { font-size: 9px; text-decoration: none; } /* Navbar */    
    .portafolio .p-card { width: calc(100% * (1/2) - 50px - 1px); } /* Portfolio */         
    .portafolio .p-card .content .p-tec-svg-icons { min-width: 30px;  min-height: 30px; }
    .portafolio .p-cards-container #show-more-btn { width: 90%; margin: 20px 0 5px 0; }
    .portafolio .p-cards-container #show-more-btn[data-title]:hover::after { font-size: 9px; top: -60%;}    
    #imgPopUpModal .modal-header>h6, .modal-content>.span-info, .modal-footer>p { font-size: 8px; line-height: 12px; } /* Portafolio Modal */
    #imgPopUpModal .modal-header, .modal-footer { font-size: 7px !important; padding: 0.5rem; }
    .modal-content .zoomout { font-size: 12px; }
    .img-magnifier-glass { width: 185px; height: 185px; }    
    .footer-content>p { font-size: 10px; } /* Footer */
    .footer-bottom>p { font-size: 10px; }
}
@media screen and (max-width: 800px) { 
    .ScrollToTop { width: 50px; height: 50px;  } /* Scroll to Top button */
    .ScrollToTop:hover { font-size: 18px; }    
    .sectionTitles { font-size: 15px; border-radius: 5px !important; } /* Titles */    
    .scroll-down-l, .scroll-down-r { font-size: 10.5px; } /* Introduction */
    .h-back::after, .h-front::after {
        content: "\f577"; font-family: FontAwesome;     
        position: relative; bottom: -5%; left: 43%;
    }        
    .portafolio .p-card .content .t-icons span::after { /* Portafolio */
        content: "\f577"; font-family: FontAwesome;        
        position: absolute; top: 100%; right: -60%;
    }
    #imgPopUpModal .modal-body { max-height: 300px; overflow-y: auto; }      
    .skills-cards .card-skills { width: calc(100% * (1/5) - 5px - 5px); } /* Skills */
    .card-skills { width: 80px; height: 80px; }
    .card-skills img { width: 70px; height: 70px; }     
    .card-skills .info-skills .progress-bar { font-size: 7px; } 
    .card-skills::after {
        content: "\f577"; font-family: FontAwesome; color: #4B7F83;        
        position: absolute; bottom: 0%; left: 85%; font-size: 12px;
    }
    /* Alert Span */
    .alertSpan .alert-text { font-size: 7.2px !important; white-space: nowrap; }
}
@media screen and (max-width: 650px) {
    .scrolldown-wrapper { left: 92% !important; bottom: -1.5%; } /* Header */
    .scrolldown-wrapper .scrolldown {
        border: 2px solid #4B7F83 !important;	
        height: 35px !important; width: 25px !important; margin: 0 auto 8px; text-align: center; border-radius: 30px;	
    }
    .main-introduction #h5-final, .main-introduction .h-subtitle h5 { font-size: 10px; }         
    .modalSpinner .fa-spin, .modalSpinner #spinnerSpan { font-size: 11px; } /* Modal Spinner */
    .abtm-text { width: 100%; } /* About me */        
    .abtm-text h1 { font-size: 16px; margin-bottom: 5px; }     
    .abtm-text h5 { font-size: 12px; text-align: center; margin-bottom: 5px; } 
    .abtm-text pre { font-size: 9.5px; line-height: 172%; }  
    .aboutme .content .abtm-text .abtm-footer h6 { font-size: 12px; }
    #google_translate_element { font-size: 9px; } /* Portfolio */
    #google_translate_element span>i { font-size: 24px; }
    .goog-te-gadget-simple {  font-size: 5pt !important; padding: 1px 0 1px 0 !important; }
    .goog-te-gadget-simple a.goog-te-menu-value span { font-size: 9px !important; }
    .modal-content .span-info { margin-top: 5px; }       
    .card-skills img { width: 50px; height: 50px; } /* Skills */
    .card-skills>.img-pdng { padding-top: 18px !important; }
    .card-skills::after { font-size: 10.5px; left: 79%; bottom: -2%; }
    .pb-small-txt { font-size: 4.5px; padding: 0.2rem; }    
    .contact-form { width: 100%; } /* Contact */
    .contact-form h1 { font-size: 13px; margin-bottom: 5px; }    
    .footer-content .menu { margin: 10px auto; } /* Footer */
    .footer-content .menu li { margin: -10px 6px 0 6px; }
    .footer-content .menu a { font-size: 7px; }
    .footer-content .menu a:hover { font-size: 7.2px; }
    .footer-content > p { font-size: 9px; }
    .footer-bottom p { font-size: 8px; }
}

/* ---------------------------------------------------------------- BROWSER SCROLLBAR -------------------------------------------------------*/
::-webkit-scrollbar { width: 12px; } /* Scrollbar Width */  
::-webkit-scrollbar-track { box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5); } /* Scrollbar-Rail */      
::-webkit-scrollbar-thumb { /* Scrollbar-Bar */
    background: #6CC6C9; border-radius: 5px;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:hover { background-color: #4B7F83; }

/* ------------------------------------------------------------- Scroll Down Icon --------------------------------------------------------- */
.scrolldown-wrapper {
	left: 50%; position: absolute; text-align: center;
	transform: translate(-50%, -50%); margin-top: 35px;
}  
.scrolldown-wrapper .scrolldown {
	border: 2px solid #4B7F83;	
	height: 46px; width: 30px;
	margin: 0 auto 8px;	text-align: center; border-radius: 30px;	
}
.scrolldown-wrapper .scrolldown .scrolldown-p1, .scrolldown-wrapper .scrolldown .scrolldown-p2 {
	animation-duration: 1.5s; animation-name: scrolldown; animation-iteration-count: infinite; fill: #4B7F83;
}  
.scrolldown-wrapper .scrolldown .scrolldown-p2 { animation-delay: .75s; }
@keyframes scrolldown { /* Scroll Down Icon Animation */
	0% { opacity: 0; transform: translate(0, -8px);	}
	50% { opacity: 1; transform: translate(0, 0); }
	100% { opacity: 0; transform: translate(0, 8px); }
}

/* --------------------------------------------------------------- ALERT SPAN ----------------------------------------------------------- */
.alertSpan {
    background-color: #4B7F83; border-left: 8px solid #2D4C4E;
    padding: 20px 40px; min-width: 450px;
    position: fixed; right: -10px; bottom: 0; z-index: 1; margin-bottom: 0;
    border-radius: 5px; overflow: hidden;
    box-shadow: -8px -3px 5px 0 rgba(0,0,0,0.5)
}
.alertSpan.show { animation: slide 1s ease forwards; } /* Alert Show Animation */
@keyframes slide {
    0% { transform: translateX(100%); }
    40% { transform: translateX(-10%); }
    80% { transform: translateX(0%); }
    100% { transform: translateX(-10px); }    
}
.alertSpan.hide { display: none; }
.alertSpan .fa-exclamation-circle { /* Alert Span Icon */
    position: absolute; left: 15px; top: 50%;
    transform: translateY(-50%);
    color: #F4F6F7; font-size: 20px;
}
.alertSpan .alert-text { padding: 0 15px; font-size: 14px; color: #F4F6F7; } /* Alert Span Text */
.alertSpan .close-alert { /* Alert Span Button */
    position: absolute; right: 0px; top: 50%;
    transform: translateY(-50%); background-color: #4B7F83; padding: 15px 12px; cursor: pointer;
    animation: closeButtonBgColor 1s ease-in-out; animation-iteration-count: infinite; animation-direction: reverse;
}
@keyframes closeButtonBgColor {
    0% { background-color:#2D4C4E; }
    50% { background-color:#4B7F83; }
    100% { background-color:#2D4C4E; }
}
.close-alert:hover { background: #4B7F83; }
.close-alert .fa-times { color: #F4F6F7; font-size: 20px; line-height: 40px; } /* Alert Span Button Icon */

.alertDialogTooltip>.tooltip-inner { font-size: 12px; border: 2px dotted whitesmoke; }

/* -------------------------------------------------------------- GLOBAL SVG CLASSES ----------------------------------------------------- */
img.Java-Icon { content: url(../svg/Java.svg); } img.C-Icon { content: url(../svg/C.svg); } img.PHP-Icon { content: url(../svg/PHP.svg); }
img.NetBeans-Icon { content: url(../svg/NetBeans.svg); } img.AStudio-Icon { content: url(../svg/AndroidStudio.svg); }
img.TypeScript-Icon { content: url(../svg/TypeScript.svg); } img.JavaScript-Icon { content: url(../svg/JavaScript.svg); }
img.Spring-Icon { content: url(../svg/Spring.svg); } img.Angular-Icon { content: url(../svg/Angular.svg); }
img.HTML-Icon { content: url(../svg/HTML.svg); } img.CSS-Icon { content: url(../svg/CSS.svg); }
img.Bootstrap-Icon { content: url(../svg/Bootstrap.svg); } img.Python-Icon { content: url(../svg/Python.svg); }
img.SQL-Icon { content: url(../svg/MySQL.svg); } img.PostgreSQL-Icon { content: url(../svg/PostgreSQL.svg); }
img.jQuery-Icon { content: url(../svg/jQuery.svg); } img.AJAX-Icon { content: url(../svg/AJAX.svg); }
img.JSON-Icon { content: url(../svg/json.svg); } img.NPM-Icon { content: url(../svg/NPM.svg); }
img.Thymeleaf-Icon { content: url(../svg/Thymeleaf.svg); } img.Photoshop-Icon { content: url(../svg/Photoshop.svg); }
img.JWT-Icon { content: url(../svg/JWT.svg); } img.Postman-Icon { content: url(../svg/Postman.svg); }
img.Firebase-Icon { content: url(../svg/Firebase.svg); } img.Unity-Icon { content: url(../svg/Unity2.svg); }



.project-card {
    position: relative;
    width: 300px; height: 350px;
    background-color: white; margin: 0 auto;
    border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* box-shadow:0 2px 10px rgba(0,0,0,.2); */
}
.project-card::before, .project-card::after {
    width: 100%; height: 100%;
    position: absolute; top: 0; left: 0;
    content:"";
    border-radius: 5px; background-color: white;
    transition: 0.5s; z-index:-1;
}
.project-card:hover::before { transform: rotate(20deg); box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
.project-card:hover::after { transform: rotate(10deg); box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
.project-card .img-container {
  position: absolute; top: 10px; left: 10px; bottom: 10px; right: 10px;  
  transition: 0.5s; z-index: 1;
  background-color: #F4F6F7;  
}  
.project-card:hover .img-container { bottom: 80px; }
.project-card .img-container>.img-item {
      position: absolute; top: 0; left: 0;
      width: 100%; height: 100%;
      object-fit: cover; cursor: zoom-in;
      border: 2px solid #4B7F83; border-radius: 5px;
}
.project-card .details {
      position: absolute; left: 10px; right: 10px;
      bottom: 16px; height: 60px;
      text-align: center;
}
.project-card .details>h2 {
    font-size: 12px; font-weight: 200; text-transform: uppercase;
    margin: 0; padding: 5px;
    color: white; background-color: #4B7F83;
    border-radius: 5px; cursor: default;
} 
.project-card .details .t-icons { /* Portafolio-Cards Tech-Icons Div */    
    width: 100%; cursor: pointer;
    border-radius: 5px; margin: 0 0 5px 0; background-color: white;
}
.t-icons .p-tecnologies { padding: 0.2rem; margin: 0; }

 .t-icons .p-tecnologies li {   
	list-style: none; margin: 0 5px; cursor: pointer; 	
}

.t-icons .p-tecnologies li .p-tec-svg-icons { 
    width: 20px; height: 20px;
    padding: 0; border: 0; margin: 0;
}