/* ----------------------------------------------------------------------- FONTS -------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* --------------------------------------------------------------------- GENERAL ------------------------------------------------------ */
html, body { /* Para darle efecto al Scroll vertical */
    scroll-behavior: smooth;  background-color: #F4F6F7;   
} 
body { position: static !important; top:0px !important; }
* { 
    box-sizing: border-box; /*QUITAR ESTO*/
    max-width: 100%; max-width: 100vw;  
    margin: 0; padding: 0;     
    font-family: 'Press Start 2P', cursive, Arial, Helvetica;
}
.loading-page-gif { /* Modal Spinner-Loader */
    position: fixed;     
    width: 100%; height: 100%;
    top: 0; left: 0;    
    background-color: #F4F6F7;
    z-index: 9998;   
}  
.loading-page-gif>img { width: 200px; height: 200px; z-index: 9999; }

/* --------------------------------------------------------------- GENERAL STYLES -------------------------------------------------------- */
.radius-padding, .contentBx, .p-tec-tooltip .tooltip-inner, .p-icons-a .tooltip-inner, .icons>h4 { border-radius: 5px; padding: 0.5rem; }
.b-color-4B7, .sectionTitles, .contentBx, .p-icons, .icons>h4 { background-color: #4B7F83; color: white; }
.b-color-6CC, .t-icons { background-color: #6CC6C9; /*color: #F4F6F7;*/ color: white; }
.h-title>h1, .h-subtitle>h5, #h5-final, .h-introduccion.content>span, #nb-brand-span, .abtm-text>h1, .abtm-text>h5, .abtm-text>pre, 
    .abtm-footer, .contentBx, .icons>p { cursor: default; } 
.radius10-padding1, .p-card, .card-skills { border-radius: 10px; padding: 1em; }
.transition04, .abtm-footer>i:hover, .p-card, .t-icons, .t-icons>span, .p-tecnologies>li, .p-icons, .p-icons>li,
    .card-skills, .info-skills { transition: 0.4s; }
.p-cards-container, .cards-container {
    flex-wrap: wrap;  padding: 0.5rem; border-radius: 0 0 5px 5px;
    background-color: #F4F6F7; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.sectionTitles { /* Sections Titles */
    width: 100%; position: relative; 
    border-radius: 5px 5px 0 0; padding: 0.5rem; margin-bottom: 0;    
    text-align: center; font-size: 20px;        
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);    
}

/* ------------------------------------------------------------ GENERAL DISPLAY ------------------------------------------------------------------ */
.loading-page-gif, header, .scroll-down, .scroll-down-r, .btn-h-contact, .aboutme, .abtm-text>h1, .btnCV, .p-card, .p-cards-container, 
.p-tecnologies, #show-more-btn[data-title]:hover::after, #google_translate_element, .cards-container, .contactme, #btnSendEmail, 
.footer-content, .menu {
    display: flex; justify-content: center; align-items: center; align-content: center;
}
.content {
    width: 100%; margin: 0 auto;
    display: flex; flex-wrap: wrap; align-items: center; justify-content: space-around;    
}
header, .aboutme, .portafolio, .cards-container, .contactme { min-height: 100vh;  padding: 1em; }

/* ----------------------------------------------------------- Scroll To Top Button -------------------------------------------------------*/
.ScrollToTop {
    position: fixed; z-index: 9997; 
    width: 60px; height: 60px;
    border-radius: 50%; padding: 0.5rem;    
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);      
    /* text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 5px #000; */
    outline: none; display: none;
    cursor: pointer; border: 1px solid white;
    bottom: 10px; right: 10px;  
    /* transform: translate(-50%, -50%);     */
}
.ScrollToTop:hover {
    width: 65px; height: 65px;
    background-color: black; color: white; opacity: 0.95;         
}
.modalSpinner .fa-spin, .modalSpinner #spinnerSpan { /* Modal Spinner */
    color: white; font-size: 35px; 
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 5px #000;
}

/* ------------------------------------------------------------ HEADER ---------------------------------------------------------------- */
header {
    background-image: url(../svg/wave-down.svg), url(../svg/wave-up.svg);
    background-position: center top, center bottom; background-repeat: repeat-x; background-size: 45%;
}
.scroll-down, .scroll-down-r { /* Span Page-Sides Bounce-Animation */
    position: absolute; flex-direction: column; 
    font-size: 12px; color: #4B7F83;
}
.scroll-down { left: 1%; }
.scroll-down-r { right: 1%; }
.scroll-down>.sd-span, .scroll-down-r>.sd-span {    
    writing-mode: vertical-rl; text-orientation: mixed; cursor: default;
    animation-duration: 2s; animation-iteration-count: infinite;    
}
.scroll-down>.sd-span::after, .scroll-down-r>.sd-span::after {
    content: "\f103"; font-family: FontAwesome;
}
.scroll-down>.bounce, .scroll-down-r>.bounce {
    animation-name: bounce;
    animation-timing-function: ease;
}
@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-25px); }
    100% { transform: translateY(0); }
}
.h-introduccion { /* Introduction Section */
    max-width: 90%; max-height: 100vh;
    display: table; 
    text-align: center;    
}
.h-introduccion .h-title h1 { /* Intr-Title with effect */
    text-align: center; font-size: 28px;        
    margin: 5px auto; display: block;    
    border-right: 4px solid black; /* cursor */
    width: 17ch;
    white-space: nowrap;
    animation: typing 2s steps(17), blink .5s infinite step-end alternate;
    overflow: hidden;  
}
@keyframes typing { from { width: 0; } } /* Animación escritura*/
@keyframes blink { 50% { border-color: transparent; } } /* Animación cursór */

.h-introduccion .h-subtitle h5, #h5-final { /* Intr-Subtitle and Footer */   
    margin: 10px 0 10px 0;     
    text-align: left; font-size: 22px; 
}
.h-introduccion .content .h-back, .h-front { /* Intr-Divs (back-front) */
    width: 350px; height: 108px;     
    margin: 5px; z-index: 1; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.h-introduccion .content .h-back:hover, .h-front:hover {
    transform: translateY(-3px); cursor: pointer;
    background-color: #F4F6F7; border: 1px dotted #6CC6C9;
} 
.h-introduccion .content span { /* Intr-Divs Title */      
    font-size: 20px; display: table;
    margin: 0 auto; position: relative;
    transform: translateY(30px); opacity: 1;
}
.h-introduccion .content .h-back:hover span, .h-front:hover span {
   transform: translateY(0px);  opacity: 0;
}
.h-introduccion .content p { /* Intr-Divs text */
    text-align: center; font-size: 10px; margin-bottom: 30px;
    color: #4B7F83; height: fit-content;  margin-top: -15px;
	transform: translateY(50px); opacity: 0;
    cursor: pointer;    
}
.h-introduccion .content .h-back:hover p, .h-front:hover p {
    transform: translateY(0px); opacity: 1;
}
.h-introduccion .content .h-image img { /* Intr-Img */
    height: auto; max-width: 350px; border-radius: 5px;     
}
.h-introduccion .btn-h-contact { /* Intr-Contact Me Button with effect */     
    border: 1px solid white; 
    margin: 0 auto; width: fit-content;
    background-color: #4B7F83; color: white;
}
.h-introduccion .btn-h-contact:after {
    content: "\f086"; font-family: FontAwesome;
    display: block;
    width: 0px; height: 24px;
    overflow: hidden;
    transition: width 200ms, margin-left 200ms;
}
.h-introduccion .btn-h-contact:is(:hover, :focus)::after {
    width: 24px; margin-left: 8px;
}

/* -------------------------------------------------------------------- NAVBAR ---------------------------------------------------------- */
.sticky-top {
    transition: all 0.2s ease-in-out;
}
.navbar { /* Navbar-Default Styles */
    background-color: #6CC6C9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);     
}
.navbar-brand>#nb-brand-span {
    color: #F4F6F7; text-shadow: 2px 2px 4px #324B4D;
}
.navbar-brand, .stuck .navbar.sticky-top .navbar-brand { /* Navbar-Brand*/
    position: absolute; padding: 0;  
    font-size: 12px;  
} 
.navbar-brand .switchlang { /* Navbar-Brand img class */ 
    border: 0; 
    background-color: transparent; 
} 
.navbar-brand .switchlang img {
    width: 30px; height: 20px; object-fit: cover;
    transition: 0.3s; opacity: 0.75;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.navbar-brand .switchlang img:hover {
    transform: translateY(-2px); opacity: 1;
}
.navbar .navbar-collapse a:hover {
    background-color: #4B7F83;  
    border-radius: 10px;
    transition: 0.3s; transform: translateY(3px);
}
.stuck .navbar.sticky-top { /* Navbar-Sticky Styles */
    background-color: #4B7F83; border-bottom: 1px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);      
}
.navbar-nav { margin-left: 50px; }
.navbar-nav a.nav-link, a.nav-link.active, .stuck .navbar.sticky-top .navbar-nav a.nav-link.active, a.nav-link {
    text-shadow: 2px 2px 4px #324B4D; transition: 0.5s;
    margin-right: 5px;  
}
.stuck .navbar.sticky-top .navbar-collapse a:hover {
    background-color: #6CC6C9; 
    border-radius: 10px;
    transition: 0.3s; transform: translateY(3px);
}

/* -------------------------------------------------------------- SOBRE MI --------------------------------------------------------------- */
.aboutme .content .abtme-img-container { box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); background-color: #F4F6F7; }
.aboutme .content img { /* Abtme-Img */
    height: auto; max-height: 450px; max-width: 425px;
    border-radius: 10px; transition: 0.35s; filter: blur(3px); cursor: pointer;         
}
.aboutme .content img:hover {     
     filter: blur(0); animation: shake 0.35s step-end normal;  
}
@keyframes shake { /* Abtme-Img Shake-Animation */
    0% { transform: translate(1px, 1px) rotate(0deg); } 10% { transform: translate(-1px, -2px) rotate(-1deg); } 20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); } 40% { transform: translate(1px, -1px) rotate(1deg); } 50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); } 70% { transform: translate(3px, 1px) rotate(-1deg); } 80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); } 100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.abtm-text { /* Abtme-Content Div */
    width: 700px; 
    text-align: center;   
    background-color: #F4F6F7; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  
}
.abtm-text h1 { font-size: 25px; } /* Abtme-Content Title */
.abtm-text h5 { /* Abtme-Content Subtitle */
    font-size: 20px; text-align: center;  
}
.abtm-text pre { /* Abtme-Content p */
    font-size: 12px; font-family: 'Press Start 2P', cursive;
    white-space: pre-line; line-height: 175%;
    margin: 10px 0 8px 0;
    text-align: justify; color: #4B7F83;    
}
.aboutme .content .abtm-text .abtm-footer { /* Abtme-Content Hobbies Div */    
    width: 100%; text-align: center;
    margin-bottom: 10px;     
}
.aboutme .content .abtm-text .abtm-footer h6 { /* Abtme-Content Hobbies Title */
    font-size: 15px; text-align: center;
}
.aboutme .content .abtm-text .abtm-footer>i:hover {
    transform: translateY(-2.5px);  
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 5px #000;
    cursor: pointer;
}
.aboutme .content .abtm-text .btnCV { /* Abtme-Content CV Button with effect */
    width: 100%;
    background-color: #4B7F83; color: white;   
}
.aboutme .content .abtm-text .btnCV:after {
    content: "\f56d"; font-family: FontAwesome;
    display: block;
    width: 0px; height: 24px;
    overflow: hidden;    
    transition: width 200ms, margin-left 200ms;
 }
 .aboutme .content .abtm-text .btnCV:is(:hover, :focus)::after {
    width: 24px; margin-left: 8px;
 }

/* ------------------------------------------------------------------ PORTAFOLIO ---------------------------------------------------------- */
.portafolio .p-cards-container {
    justify-content: space-around;     	    
    gap: 15px; z-index: 1;
}
.portafolio .p-cards-container #show-more-btn { /* Portafolio Show-More btn */
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid white; animation: blink 1s infinite step-end reverse;
    width: 50%; height: 40px;
    transition: 0.3s; margin: 15px 0 15px 0;
    white-space: nowrap; text-overflow: ellipsis; text-align: center;
}
.portafolio .p-cards-container #show-more-btn[data-title]:hover::after { /* Portafolio Show-More btn-Title */
    content: attr(data-title);     
    position: absolute; width: 100%; transition: 0.3s;  
    color: #4B7F83; text-align: center; font-size: 12px;    
    top: -70%; left: 0;
}
.portafolio .p-cards-container #show-more-btn:hover { transform: translateY(5px); }
.portafolio .p-cards-container #visible { position: absolute; }
.portafolio .p-card { /* Portafolio-Card Divs */		
    min-width: 350px; height: 400px;
    position: relative; 
    justify-content: space-between; flex-direction: column;
    width: calc(100% * (1/3) - 50px - 1px);	   	
    border: 2px solid #4B7F83;	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.portafolio .p-card:hover  { 
    transform: translateY(8px);
    border: 2px solid #6CC6C9;    
}
.portafolio .p-card .content .contentBx { /* Portafolio-Cards Title */ 
    display: table; text-align: center;   
    width: 100%;   
}
.portafolio .p-card .content .contentBx h3 { 	
    display: table-cell;    
    text-transform: uppercase; line-height: 16px;
    letter-spacing: 0.3px; font-weight: 500; 
    font-size: 12px;
}
#p-img .img-item { /* Portafolio-Cards Img */ 
    position: relative; cursor: zoom-in;
	width: 300px; height: 200px;
	overflow: hidden; margin: 5px 0 5px 0;
}
#p-img img {
    position: absolute;	
	width: 100%; height: 100%;
    border-radius: 5px;
    cursor: pointer; object-fit: cover;
    background-color: white; border: 2px solid #4B7F83;
}
.portafolio .p-card .content .t-icons { /* Portafolio-Cards Tech-Icons Div */    
    width: 100%; cursor: pointer;
    border-radius: 5px; margin: 5px 0 5px 0; z-index: 1;  
}
.portafolio .p-card .content .t-icons:hover {
    background-color: #F4F6F7; box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);  /* border: 2px dotted #6CC6C9;       */
}
.portafolio .p-card .content .t-icons span { /* Portafolio-Cards Tech-Icons Title*/
    font-size: 15px;
    display: table; margin: 0 auto;      
    position: relative;
    transform: translateY(-20px); opacity: 1;
}
.portafolio .p-card .content .t-icons:hover span { transform: translateY(0px); opacity: 0; }
.portafolio .p-card .content .t-icons .p-tecnologies { /* Portafolio-Cards Tech-Icons icons */     
    padding: 0.2rem; margin: 0; opacity: 0; 
}
.portafolio .p-card .content .t-icons:hover .p-tecnologies { opacity: 1; transform: translateY(10px); }
.portafolio .p-card .content .t-icons .p-tecnologies li {   
	list-style: none; margin: 0 3px;    
    cursor: pointer; 	
    transform: translateX(30px); opacity: 0;               
}
.portafolio .p-card .content .t-icons:hover .p-tecnologies li {	transform: translateX(0px); opacity: 1; }
.portafolio .p-card .content .t-icons .p-tecnologies li .p-tec-svg-icons { 
    width: 30px; height: 30px;
    padding: 0; border: 0; margin: 0;
}
.p-tec-tooltip .tooltip-inner, .p-icons-a .tooltip-inner { /* Portafolio-Cards Tech-Icons icons Tooltip */  
    font-size: 12px; text-align: center;
    background-color: #324B4D; color: white; 
    border: 1px solid white; box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}
.portafolio .p-card .p-icons { /* Portafolio-Cards Content Links-Icons */
    width: 90%; position: absolute;   
	display: table; text-align: center;
    border-radius: 5px; padding: 0.2rem; 
    margin: 0.5rem 0 0.5rem 0; bottom: 0;         
}
.portafolio .p-card .p-icons li {
    display: table-cell; list-style: none;
	margin: 0 50px;
	transform: translateY(20px); opacity: 0;    
}
.portafolio .p-card:hover .p-icons li {	transform: translateY(0px); opacity: 1; }
.portafolio .p-card .p-icons a { color: white; }

/* --------------------------------------------------------------- Modal ---------------------------------------------------------------- */
.modal-content { background-color: #F4F6F7; border: 1px solid white; box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);  }
.modal .modal-dialog {
    min-width: 85%; border-radius: 5px;       
    overflow-y: initial !important 
}
#imgPopUpModal .modal-header, .modal-footer {    
    display: table; text-align: center;  
    border-radius: 5px; margin: 0;
    position: relative;
}
#imgPopUpModal .modal-header h6, .modal-footer>p { /* Modal Title */
    display: table-cell; width: 100%; 
    font-size: 11px; line-height: 13px;
}
.modal-header .btn-close { /* Modal Close Button */
    margin: 2.5px; top: 0; right: 0;
    position: absolute;
    background-color: white; border: 1px solid black;
    transition: 0.3s; opacity: 0.5;    
}
.modal-header .btn-close:hover { transform: translateY(5px); }
#imgPopUpModal .modal-body { /* Modal Body */     
    margin: 0; cursor: zoom-in;
}
/* ----------------------------------------------- GOOGLE TRANSLATE ELEMENT ------------------------------------------------- */
#google_translate_element { /* GooTr- Div*/
    width: 100%; font-size: 11px;
    border-radius: 5px; padding: 0.2rem; margin-top: 5px; border: none;
    color: #4B7F83; background-color: transparent; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}
#google_translate_element>span { margin-right: 10px; }
.m-gt-tooltip .tooltip-inner { /* Modal Translate text-Icon Tooltip */  
    font-size: 10px; text-align: center;  
    background-color: #6CC6C9; color: white;   
    border: 1px solid white; box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}
#google_translate_element>span>i { font-size: 35px; cursor: help; } 
.goog-te-gadget-simple { /* GooTr-Box*/
    background-color:white !important; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    padding: 0.2rem; border-radius: 5px; transition: 0.3s;
}
.goog-te-gadget-simple:hover{border: 2px solid #6CC6C9;}
.goog-te-gadget-simple a.goog-te-menu-value span{color:#4B7F83; font-size: 11px;} /* GooTr-Box text*/
/* #google_translate_element:before { content: "Traducir ->"; margin: 0 auto; }
#google_translate_element:after { content: "<- Translate"; margin: 0 auto; } */
.goog-logo-link { display:none !important; } 
.goog-te-banner-frame.skiptranslate { display: none !important; visibility: hidden; margin: 0; padding: 0; z-index: -99;} 
iframe.goog-te-banner-frame{ display: none !important;}


.modal-content .span-info { /* Modal Magnifying Glass Instructions */
    padding: 0.2rem; margin-top: 10px; border: 0;
    font-size: 11px; color: white; background-color: #4B7F83; box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    text-align: center;   animation: blink 1s infinite step-end normal;  
    border-bottom: 2px dotted white; border-top: 2px dotted white;
}
.modal-content .zoomout { /* Modal Close Magnifying Glass */
    cursor: zoom-out; font-size: 15px;
    border: 0; padding: 0 0.2rem 0 0.2rem; 
    background-color: transparent; color: white; 
    font-size: 14px; transition: 0.3s;        
}
.modal-content .zoomout:hover {
    border-radius: 5px;
    background-color: black; color: white; opacity: .75;  
}
.img-magnifier-container { position: relative; } /* Modal Magnifying Glass */ 
.img-magnifier-glass {
    width: 185px; height: 185px;
    position: absolute;
    border: 5px solid #4B7F83; background-color: #F4F6F7; 
    border-radius: 50%; cursor: move;   
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
#imgPopUpModal .modal-footer { margin-top: 5px; }

/* ------------------------------------------------------------- SKILLS --------------------------------------------------------------- */
.skills-cards { padding: 1em; }
.skills-cards .cards-container {
    align-content: space-around; gap: 10px;     
}
.card-skills { /* Skills Cards */
    width: 90px; height: 90px;
    padding: 0.5rem;
    background-color: white; border: 2px solid #4B7F83;
    position: relative; 
    display: grid; align-items: center; 
    /* width: calc(100% * (1/8) - 10px - 1px); */
    width: calc(100% * (1/8) - 50px - 5px);      
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;    
}
.card-skills:hover { transform: translateY(8px); border: 0; }
.card-skills:hover:before { opacity: 1; }
.card-skills:hover .info-skills { opacity: 1; transform: translateY(0px); }
.card-skills:before { 
    content: ""; z-index: 2;
    position: absolute; display: block;
    width: 100%; height: 100%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.6); border: 2px solid #6CC6C9;     
    transition: 0.4s; opacity: 0;     
}
.card-skills img { /* Skills-Cards Image */
    width: 80px; height: 80px; 
    position: absolute;  
    top: 0; left: 0;  
    border-radius: 10px; 
}
.card-skills .info-skills { /* Skills-Cards Image-Progress Bar */
    position: relative; z-index: 3;
    color: white;   
    transform: translateY(20px); opacity: 0;
}
  /* Custom ToolTips */
.tooltip-success { --bs-tooltip-bg: var(--bs-success); } 
.tooltip-warning { --bs-tooltip-bg: var(--bs-warning); }
.tooltip-warning .tooltip-inner, .bg-warning { color: black; }
.tooltip-danger {  --bs-tooltip-bg: var(--bs-danger); } 
 
/* ----------------------------------------------------------- CONTÁCTAME --------------------------------------------------------------- */  
.contact-form { /* Contact-Form Div*/  
    width: 625px;
    background-color: #F4F6F7; color: #4B7F83;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.contact-form h1 { /* Contact-Form Div Title */    
    text-align: center; font-size: 25px;
    margin-bottom: 10px;          
}
#c-form > span { font-size: 10px; color: red; }
.contact-form #message { 
    height: 150px; margin-top: 5px;
    color: #4B7F83; 
}
.contact-form #emailHelp { font-size: 11px; padding-bottom: 1em; }
.input-group>input { color: #4B7F83 !important; } /* Contact-Form Input/TextArea text color */
.form-control, .form-control::placeholder { /* Contact-Form Input/placeholder color */
    color: #4B7F83; opacity: 0.88;
    letter-spacing: -1.5px; 
} 
.form-control::placeholder { opacity: .7; }
.form-control:focus { border-color: #6CC6C9; box-shadow: 0 0 0 0.2rem rgba(108, 198, 201, 0.5); } /* Contact-Form Input Focus Border-Color */
.form-control:focus:required:invalid {border-color: #B2071D; box-shadow: 0 0 0 0.2rem rgba(178, 7, 29, 0.5);} /* Contact-Form Input Focus Invalid-Border-Color */
/* Contact-Form Div Button with effect */
.contact-form #btnSendEmail {        
    background-color: #4B7F83; color: white; 
    margin-top: 10px; width: 100%;
}
.contact-form #btnSendEmail:after {
    content: "\f3e5"; font-family: FontAwesome;
    transform: rotate(180deg);
    display: block;
    width: 0px; height: 24px;
    overflow: hidden;
    transition: width 200ms, margin-left 200ms;
}
.contact-form #btnSendEmail:is(:hover, :focus)::after {
    width: 24px; margin-left: 8px;
}
.contactme .content .icons {  /* Contact-Icons Div */    
    background-color: #F4F6F7; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    width: 40%;  
} 
.contactme .content .icons p { /* Contact-Icons Div email */    
    padding-right: 1rem; margin: 0; text-align: center;
}
.contactme .content .icons p>input, .icons p>#copy-btn { /* Contact-Icons Div copy-email */
    text-align: center; padding: 0.2rem; border: 0; 
    background-color: #F4F6F7; color: #4B7F83; transition: 0.3s;
}
.contactme .content .icons #copy-btn:hover { transform: translateY(-3px); }
.contactme .content .icons h4 {
    font-size: 13px; margin-top: 5px;
    text-align: center;
}
/* --------------------------------------------------- Social Media Icons ----------------------------------------------------------------*/
.i-socialMedia { /* Contact-Social Media Div */  
    height: 100%; width: 100%;
    display: flex; justify-content: center; 
    background-color: #6CC6C9;  
}
.i-socialMedia .button { /* Contact-Social Media Div Buttons */
    display: inline-block;
    height: 50px; width: 50px;
    margin: 0 5px 0; border-radius: 50px;
    background-color: #F4F6F7; color: #4B7F83; text-decoration: none;    
    cursor: pointer; overflow: hidden;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;   
}
.i-socialMedia .button:hover { width: 185px; }
.i-socialMedia .button .icon { /* Contact-Social Media Div Buttons Icons */
    display: inline-block; box-sizing: border-box; 
    height: 50px; width: 50px;
    text-align: center; line-height: 50px; border-radius: 50px;   
    transition: all 0.3s ease-out;
}
.i-socialMedia .button .icon i { /* Contact-Social Media Div Icons */
    font-size: 25px; line-height: 50px;
    transition: all 0.3s ease-out;
}
.i-socialMedia .button:hover .icon i { color: white; }
.i-socialMedia .button span { /* Contact-Social Media Div Icons-Text */
    font-size: 12px; font-weight: 500; line-height: 50px;  
    transition: all 0.3s ease-out;
}
  /* Social Media-Icons & Text Colors*/
.i-socialMedia .button:nth-child(1):hover .icon { background: #4267B2; } .button:nth-child(1) span { color: #4267B2; }
.i-socialMedia .button:nth-child(2):hover .icon { background: #0e76a8; } .button:nth-child(2) span { color: #0e76a8; }
.i-socialMedia .button:nth-child(3):hover .icon { background: #2AABEE; } .button:nth-child(3) span { color: #2AABEE; }
.i-socialMedia .button:nth-child(4):hover .icon { background: #171515; } .button:nth-child(4) span { color: #171515; }
.i-socialMedia .button:nth-child(5):hover .icon { background: #000000; } .button:nth-child(5) span { color: #000000; }

/* ------------------------------------------------------ FOOTER PARALLAX EFFECT ------------------------------------------------------ */
.main { /* Main div content */
    position: relative;
    z-index: 1;  
    box-shadow: #000 0 7px 35px 0;
    background-size: contain; background-position: center; background-repeat: no-repeat;
  }
footer { /* Footer content */
    /* position: fixed; overflow: hidden; */
    height: 30vh; padding: 25px 0;    
    background-color: #F4F6F7;  
    z-index: -1;    
    /* left: 0; right: 0; bottom: 0;  */
    opacity: 0.85;  
}
/* ------------------------------------------------------------------ FOOTER ----------------------------------------------------------- */
.footer-content { /* Footer-Content div*/
    flex-direction: column; text-align: center;
}
.footer-content h3 { /* Footer-content Title*/
     font-size: 13px; font-weight: 400;
     margin: 0 2px auto;
}
.footer-content .social { /* Footer-Content div Title */ 
    width: 100%; text-align: center;  
    background-color: #6CC6C9; 
}
.footer-content .social > a {  
    font-size: 25px; line-height: 35px; text-align: center;
    margin: 0 8px; height: 40px; width: 40px;  
    display: inline-block;      
    border-radius: 40px; box-sizing: border-box;  
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #F4F6F7; color: black;
}
.footer-content .social a:hover { color: white; }
.footer-content .social>a:nth-child(1):hover { background-color: #81b71a }
.footer-content .social>a:nth-child(2):hover { background-color: #b2071d }
.footer-content .social>a:nth-child(3):hover { background-color: #FF4500 }
.footer-content .social>a:nth-child(4):hover { background-color: #F47F24 }

.footer-content .menu { /* Footer-Content div Menu */
    list-style: none; width: 100%;    
    margin: 5px auto;   
}
.footer-content .menu li { margin: 0 20px; }
.footer-content .menu a {
    font-size: 13px; color: white; text-decoration: none;
    transition: 0.3s;     
}
.footer-content .menu a:hover {
    font-size: 14px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 5px #000;
}
.footer-content p { /* Footer-Content div Subtitle */
    max-width: 500px; margin: 5px auto;
    line-height: 28px; font-size: 12px;
}
.footer-bottom { /* Footer-Bottom div */  
    background-color: black; color: white;
    width: 100%; padding: 0.5rem;
    text-align: center; float: inline-end; 
}
.footer-bottom p { /* Footer-Bottom div text */
    font-size: 12px; word-spacing: 2px;
    text-transform: capitalize;
    margin: 0;
}
.footer-bottom span {
    text-transform: uppercase;
    opacity: .5; font-weight: 200;
}

/* --------------------------------------------------------- MEDIA SCREEN RESPONSIVE -------------------------------------------------------- */
@media screen and (max-width: 1275px) {
    /* Header */
    header { background-size: 35%; }
    .h-introduccion .content { flex-flow: column; }
    .h-introduccion .content .h-image { flex-grow: 0; flex-basis: 50%; }
    .h-introduccion, .aboutme { width: 100%; } /* header y aboutme */     
    .h-introduccion .h-title h1 { font-size: 22px; margin-bottom: 5px; }    
    .h-introduccion #h5-final, .h-introduccion .h-subtitle h5 {  font-size: 16px; } 
    .h-introduccion .content .h-back:hover, .h-front:hover { transform: translateY(0px); }
    .h-introduccion .content span { font-size: 18px; transform: translateY(35px); }
    .h-introduccion .content .h-image img { margin: 3px; }
    /* About me*/
    .aboutme .content .abtme-img-container { margin-bottom: 10px; }
    .aboutme .content img { max-width: 385px; max-height: 400px; }
    /* Skills */
    .skills-cards .card-skills { width: calc(100% * (1/8) - 40px - 5px); }
    /* Contact */  
    .contact-form { width: 100%; }         
    .contact-form h1 { font-size: 15px; margin-bottom: 5px; }
    #c-form label, #c-form input, #c-form textarea { font-size: 12px; } 
    .contact-form #emailHelp { font-size: 8px; padding-bottom: 1.2rem; }
    .contactme .content .icons { margin-top: 10px; min-width: 315px; max-width: 320px; }
    .contactme .icons p { font-size: 11px; }
    /* Footer */
    .footer-content .menu li { margin: 0 7px; }
    .footer-content .menu a { font-size: 9px; }
    .footer-content .menu a:hover { font-size: 9.2px; }
}

@media screen and (max-width: 1050px) {
    /* Skills */
    .skills-cards .card-skills { width: calc(100% * (1/6) - 30px - 5px); } 
    .card-skills { width: 90px; height: 90px; }
    .card-skills .info-skills .progress-bar { font-size: 9px; }
    .card-skills img { width: 85px; height: 85px; }
    /* Footer */
    .i-socialMedia .button span { font-size: 7px !important; }
}

@media screen and (max-width: 980px) {
    /* Navbar */
    .navbar-brand, .stuck .navbar.sticky-top .navbar-brand { font-size: 9px; }
    /* Portafolio */
    .portafolio .p-card { width: calc(100% * (1/2) - 50px - 1px); }         
    .portafolio .p-card .content .p-tec-svg-icons { min-width: 30px;  min-height: 30px; }
    .portafolio .p-cards-container #show-more-btn[data-title]:hover::after { font-size: 9px; top: -60%;}
    /* Portafolio Modal */
    #imgPopUpModal .modal-header>h6, .modal-content>.span-info, .modal-footer>p { font-size: 9px; }
    .modal-content .zoomout { font-size: 12px; }
    .img-magnifier-glass { width: 135px; height: 135px; }
    /* Footer */
    .footer-content>p { font-size: 10px; } 
    .footer-bottom>p { font-size: 10px; }
  }

@media screen and (max-width: 800px) {
    /* Portafolio Modal */
    #imgPopUpModal .modal-body { max-height: 300px; overflow-y: auto; }     
    /* #google_translate_element:before, #google_translate_element:after { content: ""; } */
    /* Skills */
    .skills-cards .card-skills { width: calc(100% * (1/4) - 20px - 5px); } 
    .card-skills { width: 80px; height: 80px; }
    .card-skills img { width: 70px; height: 70px; }    
}

@media screen and (max-width: 650px) {
    /* Modal Spinner */
    .modalSpinner .fa-spin, .modalSpinner #spinnerSpan { font-size: 20px; }
    /* About me */
    .abtm-text { width: 100%; }        
    .abtm-text h1 { font-size: 16px; margin-bottom: 5px; }     
    .abtm-text h5 { font-size: 12px; text-align: center; margin-bottom: 5px; } 
    .abtm-text pre { font-size: 10px; }  
    .aboutme .content .abtm-text .abtm-footer h6 { font-size: 12px; }
    /* Skills */
    .card-skills img { width: 50px; height: 50px; } 
    /* Footer */
    .footer-content .menu li { margin: 0 5px; }
    .footer-content .menu a { font-size: 7px; }
    .footer-content .menu a:hover { font-size: 7.2px; }
}

/* ---------------------------------------------------------------- BROWSER SCROLLBAR -------------------------------------------------------*/
::-webkit-scrollbar { width: 15px; } /* Scrollbar Width */  
::-webkit-scrollbar-track { /* Scrollbar-Rail */    
    border-radius: 5px; box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);    
}  
::-webkit-scrollbar-thumb { /* Scrollbar-Bar */
    background: #6CC6C9; border-radius: 5px;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:hover { background-color: #4B7F83; }

/* ----------------------------------------------------------------------- GLOBAL SVG CLASSES -------------------------------------------- */
img.Java-Icon { content: url(../svg/Java.svg); } img.C-Icon { content: url(../svg/C.svg); } img.PHP-Icon { content: url(../svg/PHP.svg); }
img.NetBeans-Icon { content: url(../svg/NetBeans.svg); } img.AStudio-Icon { content: url(../svg/AndroidStudio.svg); }
img.TypeScript-Icon { content: url(../svg/TypeScript.svg); } img.JavaScript-Icon { content: url(../svg/JavaScript.svg); }
img.Spring-Icon { content: url(../svg/Spring.svg); } img.Angular-Icon { content: url(../svg/Angular.svg); }
img.HTML-Icon { content: url(../svg/HTML.svg); } img.CSS-Icon { content: url(../svg/CSS.svg); }
img.Bootstrap-Icon { content: url(../svg/Bootstrap.svg); }
img.SQL-Icon { content: url(../svg/MySQL.svg); } img.PostgreSQL-Icon { content: url(../svg/PostgreSQL.svg); }
img.jQuery-Icon { content: url(../svg/jQuery.svg); } img.AJAX-Icon { content: url(../svg/AJAX.svg); }
img.JSON-Icon { content: url(../svg/json.svg); } img.NPM-Icon { content: url(../svg/NPM.svg); }
img.Thymeleaf-Icon { content: url(../svg/Thymeleaf.svg); }
img.JWT-Icon { content: url(../svg/JWT.svg); } img.Postman-Icon { content: url(../svg/Postman.svg); }
img.Firebase-Icon { content: url(../svg/Firebase.svg); } img.Unity-Icon { content: url(../svg/Unity.svg); }