<!DOCTYPE html>
<html lang="es-MX">
<head></head>
<body>
  <!--FALTA VER SI SE PUEDE OPTIMIZAR EL TEMPLATE--> 
    <template id="java-projects">
        <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Java">
            <i><img class="Java-Icon p-tec-svg-icons"></i>
        </li>
    </template>    
    <template id="netbeans-projects">
        <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="NetBeans IDE">
            <i><img class="NetBeans-Icon p-tec-svg-icons"></i>
        </li>
    </template>
    <template id="angular-projects">
        <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="TypeScript">
            <i><img class="TypeScript-Icon p-tec-svg-icons"></i>
        </li>
        <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Angular">
            <i><img class="Angular-Icon p-tec-svg-icons"></i>
        </li>
        <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="HTML">
          <i><img class="HTML-Icon p-tec-svg-icons"></i>
        </li>
        <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="CSS">
          <i><img class="CSS-Icon p-tec-svg-icons"></i>
        </li>
        <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Bootstrap">
          <i><img class="Bootstrap-Icon p-tec-svg-icons"></i>
        </li>
        <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Node.js">
          <i><img class="Node-Icon p-tec-svg-icons" style="padding-top: 0.5rem;"></i>
        </li>
        <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="npm">
          <i><img class="NPM-Icon p-tec-svg-icons" style="padding-top: 0.5rem;"></i>
        </li>
    </template>
    <template id="scss-projects">
        <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="TypeScript">
            <i><img class="TypeScript-Icon p-tec-svg-icons"></i>
        </li>
        <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Angular">
            <i><img class="Angular-Icon p-tec-svg-icons"></i>
        </li>
        <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="HTML">
            <i><img class="HTML-Icon p-tec-svg-icons"></i>
        </li>
        <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="SCSS (SASS)">
            <i><img class="SASS-Icon p-tec-svg-icons"></i>
        </li>
        <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Bootstrap">
            <i><img class="Bootstrap-Icon p-tec-svg-icons"></i>
        </li>
        <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Node.js">
            <i><img class="Node-Icon p-tec-svg-icons" style="padding-top: 0.5rem;"></i>
        </li>
        <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="npm">
            <i><img class="NPM-Icon p-tec-svg-icons" style="padding-top: 0.5rem;"></i>
        </li>
    </template>
    <template id="mysql-icon">
        <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="MySQL">
            <i><img class="SQL-Icon p-tec-svg-icons"></i>
        </li>
    </template>
    <template id="php-projects">
        <ul class="p-tecnologies">
            <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="PHP">
                <i><img class="PHP-Icon p-tec-svg-icons"></i>
            </li>
            <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="JavaScript">
                <i><img class="JavaScript-Icon  p-tec-svg-icons"></i>
            </li>
            <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="jQuery">
                <i><img class="jQuery-Icon p-tec-svg-icons"></i>
            </li>
            <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="AJAX">
                <i><img class="AJAX-Icon p-tec-svg-icons"></i>
            </li>
            <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="HTML">
                <i><img class="HTML-Icon p-tec-svg-icons"></i>
            </li>
            <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="CSS">
                <i><img class="CSS-Icon p-tec-svg-icons"></i>
            </li>
            <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Bootstrap">
                <i><img class="Bootstrap-Icon p-tec-svg-icons"></i>
            </li>
            <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="MySQL">
                <i><img class="SQL-Icon p-tec-svg-icons"></i>
            </li>
        </ul>
    </template>
    <template id="static-projects">
        <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="JavaScript">
            <i><img class="JavaScript-Icon p-tec-svg-icons"></i>
        </li>
        <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="jQuery">
            <i><img class="jQuery-Icon p-tec-svg-icons"></i>
        </li>
        <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="HTML">
            <i><img class="HTML-Icon p-tec-svg-icons"></i>
        </li>
        <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="CSS">
            <i><img class="CSS-Icon p-tec-svg-icons"></i>
        </li>
        <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Bootstrap">
            <i><img class="Bootstrap-Icon p-tec-svg-icons"></i>
        </li>
        <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Node.js">
            <i><img class="Node-Icon p-tec-svg-icons" style="padding-top: 0.5rem;"></i>
        </li>
        <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="npm">
            <i><img class="NPM-Icon p-tec-svg-icons" style="padding-top: 0.5rem;"></i>
        </li>
        <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip"
            title="Git y GitHub Pages">
            <i><img class="GitHub-Icon p-tec-svg-icons"></i>
        </li>
    </template>
    <template id="unity-projects">
        <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="C#">
            <i><img class="C-Icon p-tec-svg-icons"></i>
        </li>
        <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Unity">
            <i><img class="Unity-Icon p-tec-svg-icons" style="scale: 2; margin: 0 15px 0 15px;"></i>
        </li>
        <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Adobe Photoshop">
            <i><img src="../svg/Photoshop.svg" class="p-tec-svg-icons"></i>
        </li>
    </template>
    <template id="js-jquery-projects">
      <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="JavaScript">
        <i><img class="JavaScript-Icon  p-tec-svg-icons"></i>
      </li>
      <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="jQuery">
        <i><img class="jQuery-Icon p-tec-svg-icons"></i>
      </li>                  
      <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="HTML">
        <i><img class="HTML-Icon p-tec-svg-icons"></i>
      </li>
      <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="CSS">
        <i><img class="CSS-Icon p-tec-svg-icons"></i>
      </li> 
      <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Bootstrap">
        <i><img class="Bootstrap-Icon p-tec-svg-icons"></i>
      </li> 
    </template>
    <template id="fullstack-project">
      <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="HTML">
        <i><img class="HTML-Icon p-tec-svg-icons"></i>
      </li>
      <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="CSS">
        <i><img class="CSS-Icon p-tec-svg-icons"></i>
      </li>
      <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Bootstrap">
        <i><img class="Bootstrap-Icon p-tec-svg-icons"></i>
      </li>
      <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="npm">
        <i><img class="NPM-Icon p-tec-svg-icons" style="padding-top: 0.5rem;"></i>
      </li>
    </template>
    <template id="spring-thymeleaf-projects">
      <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Spring Framework">
        <i><img class="Spring-Icon p-tec-svg-icons"></i>
      </li>
      <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Thymeleaf">
        <i><img class="Thymeleaf-Icon p-tec-svg-icons"></i>
      </li>                
      <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="HTML">
        <i><img class="HTML-Icon p-tec-svg-icons"></i>
      </li>
      <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="CSS">
        <i><img class="CSS-Icon p-tec-svg-icons"></i>
      </li>
      <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Bootstrap">
        <i><img class="Bootstrap-Icon p-tec-svg-icons"></i>
      </li>
    </template>

    <template id="skills-template">
        <div class="card-skills" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="Java">
            <img class="Java-Icon position-absolute top-50 start-50 translate-middle">
            <div class="info-skills progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 70%" 
                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>
          </div>
          <div class="card-skills" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="JavaScript">
            <img class="JavaScript-Icon position-absolute top-50 start-50 translate-middle">
            <div class="info-skills progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 70%" 
                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>
          </div>
          <div class="card-skills" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="TypeScript">
            <img class="TypeScript-Icon position-absolute top-50 start-50 translate-middle">
            <div class="info-skills progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 70%" 
                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>
          </div>
          <div class="card-skills" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-warning" title="C#">
            <img class="C-Icon position-absolute top-50 start-50 translate-middle">
            <div class="info-skills progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 65%" 
                aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
            </div>
          </div>
          <div class="card-skills" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-danger" title="PHP">
            <img class="PHP-Icon position-absolute top-50 start-50 translate-middle">
            <div class="info-skills progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 50%" 
                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
            </div>
          </div>
          <div class="card-skills" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="HTML5">
            <img class="HTML-Icon position-absolute top-50 start-50 translate-middle">
            <div class="info-skills progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 80%" 
                aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
            </div>
          </div>
          <div class="card-skills" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="CSS3">
            <img class="CSS-Icon position-absolute top-50 start-50 translate-middle">
            <div class="info-skills progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 75%" 
                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
          </div>
          <div class="card-skills" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="SASS">
            <img class="SASS-Icon position-absolute top-50 start-50 translate-middle">
            <div class="info-skills progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 75%" 
                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
          </div>              
          <div class="card-skills" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="Angular">
            <img class="Angular-Icon position-absolute top-50 start-50 translate-middle">
            <div class="info-skills progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 70%" 
                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>
          </div>
          <div class="card-skills" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-warning" title="Spring Framework">
            <img class="Spring-Icon position-absolute top-50 start-50 translate-middle">
            <div class="info-skills progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 65%" 
                aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
            </div>
          </div>      
          <div class="card-skills" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-danger"title="Firebase">
            <img class="Firebase-Icon position-absolute top-50 start-50 translate-middle">
            <div class="info-skills progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 30%" 
                aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
            </div>
          </div>                             
          <div class="card-skills" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="Bootstrap">
            <img class="Bootstrap-Icon position-absolute top-50 start-50 translate-middle">
            <div class="info-skills progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 75%" 
                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
          </div>
          <div class="card-skills" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-warning" title="Angular Material">
            <img src="../svg/AngularMaterial.svg" class="position-absolute top-50 start-50 translate-middle">
            <div class="info-skills progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 60%" 
                aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
            </div>
          </div>   
          <div class="card-skills" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-warning" title="Node.js">
            <img class="Node-Icon position-absolute top-50 start-50 translate-middle img-pdng">
            <div class="info-skills progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 60%" 
                aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
            </div>
          </div>
          <div class="card-skills" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-warning" title="npm (Node Package Manager)">
            <img class="NPM-Icon position-absolute top-50 start-50 translate-middle img-pdng">
            <div class="info-skills progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 60%" 
                aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
            </div>
          </div>
          <div class="card-skills" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="jQuery">
            <img class="jQuery-Icon position-absolute top-50 start-50 translate-middle">
            <div class="info-skills progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 70%" 
                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>
          </div>
          <div class="card-skills" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-warning" title="AJAX">
            <img class="AJAX-Icon position-absolute top-50 start-50 translate-middle">
            <div class="info-skills progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 65%" 
                aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
            </div>
          </div> 
          <div class="card-skills" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="XML">
            <img class="XML-Icon position-absolute top-50 start-50 translate-middle">
            <div class="info-skills progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 75%" 
                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
          </div>
          <div class="card-skills" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="JSON">
            <img class="JSON-Icon position-absolute top-50 start-50 translate-middle">
            <div class="info-skills progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 75%" 
                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
          </div>
          <div class="card-skills" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-danger" title="JWT (JSON Web Token)">
            <img alt="" class="JWT-Icon position-absolute top-50 start-50 translate-middle">
            <div class="info-skills progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 35%" 
                aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">35%</div>
            </div>
          </div>
          <div class="card-skills" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="Git">
            <img src="../svg/Git.svg" class="position-absolute top-50 start-50 translate-middle img-pdng">
            <div class="info-skills progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 70%" 
                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>
          </div>
          <div class="card-skills" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="GitHub">
            <img class="GitHub-Icon position-absolute top-50 start-50 translate-middle">
            <div class="info-skills progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 70%" 
                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>
          </div>
          <div class="card-skills" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="GitLab">
            <img class="GitLab-Icon position-absolute top-50 start-50 translate-middle">
            <div class="info-skills progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 70%" 
                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>
          </div>
          <div class="card-skills" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="Postman">
            <img class="Postman-Icon position-absolute top-50 start-50 translate-middle">
            <div class="info-skills progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 70%" 
                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>
          </div>
          <div class="card-skills" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="Visual Studio Code">
            <img src="../svg/VSCode.svg" class="position-absolute top-50 start-50 translate-middle">
            <div class="info-skills progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 80%" 
                aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
            </div>
          </div>
          <div class="card-skills" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="NetBeans IDE">
            <img class="NetBeans-Icon position-absolute top-50 start-50 translate-middle">
            <div class="info-skills progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 75%" 
                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
          </div>
          <div class="card-skills" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="Android Studio">
            <img class="AStudio-Icon position-absolute top-50 start-50 translate-middle">
            <div class="info-skills progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 70%" 
                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>
          </div>
          <div class="card-skills" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-warning" title="Eclipse IDE">
            <img src="../svg/Eclipse.svg" class="position-absolute top-50 start-50 translate-middle">
            <div class="info-skills progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 60%" 
                aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
            </div>
          </div>
          <div class="card-skills" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-warning" title="Unity">
            <img alt="" class=" Unity-Icon position-absolute top-50 start-50 translate-middle">
            <div class="info-skills progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 65%" 
                aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
            </div>
          </div>
          <div class="card-skills" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="MySQL">
            <img class="SQL-Icon position-absolute top-50 start-50 translate-middle" style="margin-top: -8px;">
            <div class="info-skills progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 75%" 
                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
          </div>
          <div class="card-skills" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-warning" title="PostgreSQL">
            <img class="PostgreSQL-Icon position-absolute top-50 start-50 translate-middle">
            <div class="info-skills progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 60%" 
                aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
            </div>
          </div>
          <div class="card-skills" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="SQLite">
            <img src="../svg/SQLite.svg" class="position-absolute top-50 start-50 translate-middle">
            <div class="info-skills progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 70%" 
                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>
          </div>
          <div class="card-skills" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-warning" title="Windows Terminal">
            <img src="../svg/WTerminal.svg" class="position-absolute top-50 start-50 translate-middle">
            <div class="info-skills progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 65%" 
                aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
            </div>
          </div>
          <div class="card-skills" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-danger" title="Linux">
            <img src="../svg/Linux.svg" class="position-absolute top-50 start-50 translate-middle">
            <div class="info-skills progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 35%" 
                aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">35%</div>
            </div>
          </div>
          <div class="card-skills" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="Microsoft Office">
            <img src="../svg/Office.svg" class="position-absolute top-50 start-50 translate-middle">
            <div class="info-skills progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 70%" 
                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>
          </div>
          <div class="card-skills" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="Nitro PDF Reader">
            <img src="../svg/Nitro.png" class="position-absolute top-50 start-50 translate-middle">
            <div class="info-skills progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 70%" 
                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>
          </div>
          <h1 class="skills-section-subtitle" data-es="En proceso:" data-en="In progress:"></h1> <!-- Skills pendientes -->
          <div class="card-skills wng" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Python">
            <img class="Python-Icon position-absolute top-50 start-50 translate-middle">
            <div class="info-skills progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 0%" 
                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              <small class="justify-content-center d-flex position-absolute w-100 pb-small-txt" data-es="En curso.." data-en="In process.."></small>
            </div>
          </div>        
          <div class="card-skills wng" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="React Native">
            <img src="../svg/React.svg" class="position-absolute top-50 start-50 translate-middle">
            <div class="info-skills progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 0%" 
                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                <small class="justify-content-center d-flex position-absolute w-100 pb-small-txt" data-es="En curso.." data-en="In process.."></small>
            </div>
          </div>
          <div class="card-skills wng" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Laravel">
            <img src="../svg/Laravel.svg" class="position-absolute top-50 start-50 translate-middle">
            <div class="info-skills progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 0%" 
                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              <small class="justify-content-center d-flex position-absolute w-100 pb-small-txt" data-es="En curso.." data-en="In process.."></small>
            </div>
          </div>
          <div class="card-skills wng" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="JUnit 5">
            <img class="JUnit-Icon position-absolute top-50 start-50 translate-middle">
            <div class="info-skills progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 0%" 
                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              <small class="justify-content-center d-flex position-absolute w-100 pb-small-txt" data-es="En curso.." data-en="In process.."></small>
            </div>
          </div>
          <div class="card-skills wng" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Mockito">
            <img src="../svg/Mockito.png" class="position-absolute top-50 start-50 translate-middle">
            <div class="info-skills progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 0%" 
                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              <small class="justify-content-center d-flex position-absolute w-100 pb-small-txt" data-es="En curso.." data-en="In process.."></small>
            </div>
          </div>
          <div class="card-skills wng" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Docker">
            <img src="../svg/Docker.svg" class="position-absolute top-50 start-50 translate-middle">
            <div class="info-skills progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 0%" 
                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              <small class="justify-content-center d-flex position-absolute w-100 pb-small-txt" data-es="En curso.." data-en="In process.."></small>
            </div>
          </div>
          <div class="card-skills wng" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Adobe Photoshop">
            <img class="Photoshop-Icon position-absolute top-50 start-50 translate-middle">
            <div class="info-skills progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 0%" 
                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              <small class="justify-content-center d-flex position-absolute w-100 pb-small-txt" data-es="En curso.." data-en="In process.."></small>
            </div>
          </div>
          <div class="card-skills wng" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Adobe XD">
            <img src="../svg/AdobeXD.svg" class="position-absolute top-50 start-50 translate-middle">
            <div class="info-skills progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 0%" 
                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              <small class="justify-content-center d-flex position-absolute w-100 pb-small-txt" data-es="En curso.." data-en="In process.."></small>
            </div>
          </div>
    </template>   
</body>
</html>