<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <template id="java-projects">
    <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Java">
      <img class="Java-Icon tech-svg trsn-030"> 
    </li>
  </template>

  <template id="netbeans-projects">
    <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="NetBeans IDE">
      <img class="NetBeans-Icon tech-svg trsn-030">
    </li>
  </template>

  <template id="mysql-icon">
    <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="MySQL">
      <img class="SQL-Icon tech-svg trsn-030">
    </li>
  </template>

  <template id="firebase-host-projects">
    <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Firebase Hosting">
      <img class="Firebase-Icon tech-svg trsn-030">
    </li>
  </template>

  <template id="angular-projects">
    <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="TypeScript">
      <img class="TypeScript-Icon tech-svg trsn-030">
    </li>
    <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Angular">
      <img class="Angular-Icon tech-svg trsn-030">
    </li>
    <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="HTML">
      <img class="HTML-Icon tech-svg trsn-030">
    </li>
    <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="CSS">
      <img class="CSS-Icon tech-svg trsn-030">
    </li>
    <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Bootstrap">
      <img class="Bootstrap-Icon tech-svg trsn-030">
    </li>
    <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Node.js">
      <img class="Node-Icon tech-svg trsn-030">
    </li>
    <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="npm">
      <img class="NPM-Icon tech-svg trsn-030">
    </li>
    <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Git/GitHub">
      <img class="GitHub-Icon tech-svg trsn-030">
    </li>
  </template>

  <template id="php-projects">
    <ul class="tech-icons-list flex">
      <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="PHP">
        <img class="PHP-Icon tech-svg trsn-030">
      </li>
      <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="JavaScript">
        <img class="JavaScript-Icon  tech-svg trsn-030">
      </li>
      <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="jQuery">
        <img class="jQuery-Icon tech-svg trsn-030">
      </li>
      <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="AJAX">
        <img class="AJAX-Icon tech-svg trsn-030">
      </li>
      <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="HTML">
        <img class="HTML-Icon tech-svg trsn-030">
      </li>
      <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="CSS">
        <img class="CSS-Icon tech-svg trsn-030">
      </li>
      <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Bootstrap">
        <img class="Bootstrap-Icon tech-svg trsn-030">
      </li>
      <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="MySQL">
        <img class="SQL-Icon tech-svg trsn-030">
      </li>
    </ul>
  </template>

  <template id="static-projects">
    <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="JavaScript">
      <img class="JavaScript-Icon tech-svg trsn-030">
    </li>
    <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="jQuery">
      <img class="jQuery-Icon tech-svg trsn-030">
    </li>
    <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="HTML">
      <img class="HTML-Icon tech-svg trsn-030">
    </li>
    <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="SCSS (SASS)">
      <img class="SASS-Icon tech-svg trsn-030">
    </li>
    <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Bootstrap">
      <img class="Bootstrap-Icon tech-svg trsn-030">
    </li>
    <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Node.js">
      <img class="Node-Icon tech-svg trsn-030">
    </li>
    <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="npm">
      <img class="NPM-Icon tech-svg trsn-030">
    </li>
    <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Git/GitHub">
      <img class="GitHub-Icon tech-svg trsn-030">
    </li>
  </template>

  <template id="unity-projects">
    <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="C#">
      <img class="C-Icon tech-svg trsn-030">
    </li>
    <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Unity">
      <img class="Unity-Icon tech-svg trsn-030">
    </li>
    <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Adobe Photoshop">
      <img class="Photoshop-Icon tech-svg trsn-030">
    </li>
    <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="SketchUp">
      <img class="Sketchup-Icon tech-svg trsn-030">
    </li>
    <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Google Cardboard XR Plugin">
      <img class="Cardboard-Icon tech-svg trsn-030">
    </li>
  </template>

  <template id="spring-projects">
    <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Spring Framework">
      <img class="Spring-Icon tech-svg trsn-030">
    </li>
    <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Thymeleaf">
      <img class="Thymeleaf-Icon tech-svg trsn-030">
    </li>
    <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="HTML">
      <img class="HTML-Icon tech-svg trsn-030">
    </li>
    <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="CSS">
      <img class="CSS-Icon tech-svg trsn-030">
    </li>
    <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Bootstrap">
      <img class="Bootstrap-Icon tech-svg trsn-030">
    </li>
  </template>

  <template id="multi-css-frameworks-projects">
    <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Angular Material">
      <img class="AngMaterial-Icon tech-svg trsn-030">
    </li>
    <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Materialize">
      <img class="Material-Icon tech-svg trsn-030">
    </li>
    <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Node.js">
      <img class="Node-Icon tech-svg trsn-030">
    </li>
    <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="npm">
      <img class="NPM-Icon tech-svg trsn-030">
    </li>
    <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Git/GitHub">
      <img class="GitHub-Icon tech-svg trsn-030">
    </li>
    <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Firebase Hosting">
      <img class="Firebase-Icon tech-svg trsn-030">
    </li>
  </template>

  <template id="skills-template">
    <div class="card-skills position-relative d-grid align-items-center rad-pad-5-05 trsn-040 cultured" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="JavaScript">
      <img class="JavaScript-Icon position-absolute top-50 start-50 translate-middle rounded">
      <div class="info-skills progress position-relative trsn-040">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success text-start" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
      </div>
    </div>
    <div class="card-skills position-relative d-grid align-items-center rad-pad-5-05 trsn-040 cultured" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="TypeScript">
      <img class="TypeScript-Icon position-absolute top-50 start-50 translate-middle rounded">
      <div class="info-skills progress position-relative trsn-040">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success text-start" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
      </div>
    </div>
    <div class="card-skills position-relative d-grid align-items-center rad-pad-5-05 trsn-040 cultured" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="Java">
      <img class="Java-Icon position-absolute top-50 start-50 translate-middle rounded">
      <div class="info-skills progress position-relative trsn-040">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success text-start" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
      </div>
    </div>
    <div class="card-skills position-relative d-grid align-items-center rad-pad-5-05 trsn-040 cultured" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-warning" title="C#">
      <img class="C-Icon position-absolute top-50 start-50 translate-middle rounded">
      <div class="info-skills progress position-relative trsn-040">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning text-start" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
      </div>
    </div>
    <div class="card-skills position-relative d-grid align-items-center rad-pad-5-05 trsn-040 cultured" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-danger" title="PHP">
      <img class="PHP-Icon position-absolute top-50 start-50 translate-middle rounded">
      <div class="info-skills progress position-relative trsn-040">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger text-start" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
      </div>
    </div>
    <div class="card-skills position-relative d-grid align-items-center rad-pad-5-05 trsn-040 cultured" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="HTML">
      <img class="HTML-Icon position-absolute top-50 start-50 translate-middle rounded">
      <div class="info-skills progress position-relative trsn-040">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success text-start" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
      </div>
    </div>
    <div class="card-skills position-relative d-grid align-items-center rad-pad-5-05 trsn-040 cultured" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="CSS">
      <img class="CSS-Icon position-absolute top-50 start-50 translate-middle rounded">
      <div class="info-skills progress position-relative trsn-040">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success text-start" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
      </div>
    </div>
    <div class="card-skills position-relative d-grid align-items-center rad-pad-5-05 trsn-040 cultured" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="SASS">
      <img class="SASS-Icon position-absolute top-50 start-50 translate-middle rounded">
      <div class="info-skills progress position-relative trsn-040">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success text-start" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
      </div>
    </div>
    <div class="card-skills position-relative d-grid align-items-center rad-pad-5-05 trsn-040 cultured" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="Angular">
      <img class="Angular-Icon position-absolute top-50 start-50 translate-middle rounded">
      <div class="info-skills progress position-relative trsn-040">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success text-start" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
      </div>
    </div>
    <div class="card-skills position-relative d-grid align-items-center rad-pad-5-05 trsn-040 cultured" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="RxJS">
      <img class="Rxjs-Icon position-absolute top-50 start-50 translate-middle rounded">
      <div class="info-skills progress position-relative trsn-040">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success text-start" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
      </div>
    </div>
    <div class="card-skills position-relative d-grid align-items-center rad-pad-5-05 trsn-040 cultured" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-warning" title="Spring Framework">
      <img class="Spring-Icon position-absolute top-50 start-50 translate-middle rounded">
      <div class="info-skills progress position-relative trsn-040">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning text-start" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
      </div>
    </div>
    <div class="card-skills position-relative d-grid align-items-center rad-pad-5-05 trsn-040 cultured" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-warning" title="Thymeleaf">
      <img class="Thymeleaf-Icon position-absolute top-50 start-50 translate-middle rounded">
      <div class="info-skills progress position-relative trsn-040">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning text-start" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
      </div>
    </div>
    <div class="card-skills position-relative d-grid align-items-center rad-pad-5-05 trsn-040 cultured" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="jQuery">
      <img class="jQuery-Icon position-absolute top-50 start-50 translate-middle rounded">
      <div class="info-skills progress position-relative trsn-040">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success text-start" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
      </div>
    </div>
    <div class="card-skills position-relative d-grid align-items-center rad-pad-5-05 trsn-040 cultured" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-warning" title="Node.js">
      <img class="Node-Icon position-absolute top-50 start-50 translate-middle rounded">
      <div class="info-skills progress position-relative trsn-040">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning text-start" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
      </div>
    </div>
    <div class="card-skills position-relative d-grid align-items-center rad-pad-5-05 trsn-040 cultured" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-warning" title="Node Package Manager">
      <img class="NPM-Icon position-absolute top-50 start-50 translate-middle img-padding rounded">
      <div class="info-skills progress position-relative trsn-040">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning text-start" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
      </div>
    </div>
    <div class="card-skills position-relative d-grid align-items-center rad-pad-5-05 trsn-040 cultured" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="Bootstrap">
      <img class="Bootstrap-Icon position-absolute top-50 start-50 translate-middle rounded">
      <div class="info-skills progress position-relative trsn-040">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success text-start" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
      </div>
    </div>
    <div class="card-skills position-relative d-grid align-items-center rad-pad-5-05 trsn-040 cultured" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="Tailwind CSS">
      <img class="TailCSS-Icon position-absolute top-50 start-50 translate-middle rounded">
      <div class="info-skills progress position-relative trsn-040">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success text-start" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
      </div>
    </div>        
    <div class="card-skills position-relative d-grid align-items-center rad-pad-5-05 trsn-040 cultured" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="Materialize">
      <img class="Material-Icon position-absolute top-50 start-50 translate-middle rounded">
      <div class="info-skills progress position-relative trsn-040">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success text-start" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
      </div>
    </div>
    <div class="card-skills position-relative d-grid align-items-center rad-pad-5-05 trsn-040 cultured" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="Angular Material">
      <img class="AngMaterial-Icon position-absolute top-50 start-50 translate-middle rounded">
      <div class="info-skills progress position-relative trsn-040">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success text-start" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
      </div>
    </div>
    <div class="card-skills position-relative d-grid align-items-center rad-pad-5-05 trsn-040 cultured" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="Git">
      <img class="Git-Icon position-absolute top-50 start-50 translate-middle img-padding rounded">
      <div class="info-skills progress position-relative trsn-040">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success text-start" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
      </div>
    </div>
    <div class="card-skills position-relative d-grid align-items-center rad-pad-5-05 trsn-040 cultured" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="GitHub">
      <img class="GitHub-Icon position-absolute top-50 start-50 translate-middle rounded">
      <div class="info-skills progress position-relative trsn-040">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success text-start" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
      </div>
    </div>
    <div class="card-skills position-relative d-grid align-items-center rad-pad-5-05 trsn-040 cultured" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="GitLab">
      <img class="GitLab-Icon position-absolute top-50 start-50 translate-middle rounded">
      <div class="info-skills progress position-relative trsn-040">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success text-start" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
      </div>
    </div>    
    <div class="card-skills position-relative d-grid align-items-center rad-pad-5-05 trsn-040 cultured" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="JSON">
      <img class="JSON-Icon position-absolute top-50 start-50 translate-middle rounded">
      <div class="info-skills progress position-relative trsn-040">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success text-start" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
      </div>
    </div>
    <div class="card-skills position-relative d-grid align-items-center rad-pad-5-05 trsn-040 cultured" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-danger" title="Postman">
      <img class="Postman-Icon position-absolute top-50 start-50 translate-middle rounded">
      <div class="info-skills progress position-relative trsn-040">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger text-start" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
      </div>
    </div>
    <div class="card-skills position-relative d-grid align-items-center rad-pad-5-05 trsn-040 cultured" data-bs-toggle="tooltip" data-bs-placement="top"data-bs-custom-class="tooltip-warning" title="AJAX">
      <img class="AJAX-Icon position-absolute top-50 start-50 translate-middle rounded">
      <div class="info-skills progress position-relative trsn-040">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning text-start" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
      </div>
    </div>
    <div class="card-skills position-relative d-grid align-items-center rad-pad-5-05 trsn-040 cultured" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-warning" title="XML">
      <img class="XML-Icon position-absolute top-50 start-50 translate-middle rounded">
      <div class="info-skills progress position-relative trsn-040">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning text-start" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
      </div>
    </div>
    <div class="card-skills position-relative d-grid align-items-center rad-pad-5-05 trsn-040 cultured" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-warning" title="MySQL">
      <img class="SQL-Icon position-absolute top-50 start-50 translate-middle rounded">
      <div class="info-skills progress position-relative trsn-040">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning text-start" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
      </div>
    </div>
    <div class="card-skills position-relative d-grid align-items-center rad-pad-5-05 trsn-040 cultured" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-warning" title="SQLite">
      <img class="SQLite-Icon position-absolute top-50 start-50 translate-middle rounded">
      <div class="info-skills progress position-relative trsn-040">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning text-start" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
      </div>
    </div>
    <div class="card-skills position-relative d-grid align-items-center rad-pad-5-05 trsn-040 cultured" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-warning" title="PostgreSQL">
      <img class="PostgreSQL-Icon position-absolute top-50 start-50 translate-middle rounded">
      <div class="info-skills progress position-relative trsn-040">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning text-start" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
      </div>
    </div>
    <div class="card-skills position-relative d-grid align-items-center rad-pad-5-05 trsn-040 cultured" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-warning" title="Microsoft SQL Server">
      <img class="SQLServer-Icon position-absolute top-50 start-50 translate-middle rounded">
      <div class="info-skills progress position-relative trsn-040">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning text-start" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
      </div>
    </div>
    <div class="card-skills position-relative d-grid align-items-center rad-pad-5-05 trsn-040 cultured" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="Firebase Hosting">
      <img class="Firebase-Icon position-absolute top-50 start-50 translate-middle rounded">
      <div class="info-skills progress position-relative trsn-040">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success text-start" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
      </div>
    </div>
    <div class="card-skills position-relative d-grid align-items-center rad-pad-5-05 trsn-040 cultured" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="Visual Studio Code">
      <img class="VSC-Icon position-absolute top-50 start-50 translate-middle rounded">
      <div class="info-skills progress position-relative trsn-040">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success text-start" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
      </div>
    </div>
    <div class="card-skills position-relative d-grid align-items-center rad-pad-5-05 trsn-040 cultured" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="NetBeans IDE">
      <img class="NetBeans-Icon position-absolute top-50 start-50 translate-middle rounded">
      <div class="info-skills progress position-relative trsn-040">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success text-start" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
      </div>
    </div>
    <div class="card-skills position-relative d-grid align-items-center rad-pad-5-05 trsn-040 cultured" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-warning" title="Android Studio">
      <img class="AStudio-Icon position-absolute top-50 start-50 translate-middle rounded">
      <div class="info-skills progress position-relative trsn-040">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning text-start" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
      </div>
    </div>
    <div class="card-skills position-relative d-grid align-items-center rad-pad-5-05 trsn-040 cultured" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-warning" title="Unity">
      <img alt="" class=" Unity-Icon position-absolute top-50 start-50 translate-middle rounded">
      <div class="info-skills progress position-relative trsn-040">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning text-start" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
      </div>
    </div>
    <div class="card-skills position-relative d-grid align-items-center rad-pad-5-05 trsn-040 cultured" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="Microsoft 365">
      <img class="Office-Icon position-absolute top-50 start-50 translate-middle rounded">
      <div class="info-skills progress position-relative trsn-040">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success text-start" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
      </div>
    </div>
    <div class="card-skills position-relative d-grid align-items-center rad-pad-5-05 trsn-040 cultured" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="WPS Office">
      <img class="WPS-Icon position-absolute top-50 start-50 translate-middle rounded">
      <div class="info-skills progress position-relative trsn-040">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success text-start" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
      </div>
    </div>
    <div class="card-skills position-relative d-grid align-items-center rad-pad-5-05 trsn-040 cultured" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="Nitro PDF">
      <img class="Nitro-Icon position-absolute top-50 start-50 translate-middle rounded" style="mix-blend-mode: darken;">
      <div class="info-skills progress position-relative trsn-040">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success text-start" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
      </div>
    </div>
  
    <h1 class="skills-section-subtitle d-grid align-items-center def-cursor mb-0 txt-color-ds" data-es="En proceso" data-en="In process"></h1>
    <div class="card-skills position-relative d-grid align-items-center rad-pad-5-05 trsn-040 cultured" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="React Native">
      <img class="React-Icon position-absolute top-50 start-50 translate-middle rounded">
      <div class="info-skills progress position-relative trsn-040">
        <small class="justify-content-center align-items-center d-flex position-absolute w-100 h-100 cultured txt-color-ds"><i class="fa-solid fa-clock-rotate-left fa-spin fa-spin-reverse fw-normal"></i></small>
      </div>
    </div>
    <div class="card-skills position-relative d-grid align-items-center rad-pad-5-05 trsn-040 cultured" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Vue.js">
      <img class="Vue-Icon position-absolute top-50 start-50 translate-middle rounded">
      <div class="info-skills progress position-relative trsn-040">
        <small class="justify-content-center align-items-center d-flex position-absolute w-100 h-100 cultured txt-color-ds"><i class="fa-solid fa-clock-rotate-left fa-spin fa-spin-reverse fw-normal"></i></small>
      </div>
    </div>
    <div class="card-skills position-relative d-grid align-items-center rad-pad-5-05 trsn-040 cultured" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Laravel">
      <img class="Laravel-Icon position-absolute top-50 start-50 translate-middle rounded">
      <div class="info-skills progress position-relative trsn-040">
        <small class="justify-content-center align-items-center d-flex position-absolute w-100 h-100 cultured txt-color-ds"><i class="fa-solid fa-clock-rotate-left fa-spin fa-spin-reverse fw-normal"></i></small>
      </div>
    </div>
    <div class="card-skills position-relative d-grid align-items-center rad-pad-5-05 trsn-040 cultured" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Docker">
      <img class="Docker-Icon position-absolute top-50 start-50 translate-middle rounded">
      <div class="info-skills progress position-relative trsn-040">
        <small class="justify-content-center align-items-center d-flex position-absolute w-100 h-100 cultured txt-color-ds"><i class="fa-solid fa-clock-rotate-left fa-spin fa-spin-reverse fw-normal"></i></small>
      </div>
    </div>
    <div class="card-skills position-relative d-grid align-items-center rad-pad-5-05 trsn-040 cultured" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="p-tec-tooltip" title="Figma">
      <img class="Figma-Icon position-absolute top-50 start-50 translate-middle rounded">
      <div class="info-skills progress position-relative trsn-040">
        <small class="justify-content-center align-items-center d-flex position-absolute w-100 h-100 cultured txt-color-ds"><i class="fa-solid fa-clock-rotate-left fa-spin fa-spin-reverse fw-normal"></i></small>
      </div>
    </div>
  </template>  
</body>
</html>